In [1]:
# import required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import pickle
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Read the data
data = pd.read_csv('swiggy.csv')

In [3]:
data

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [4]:
# check column names
data.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [5]:
#check data types
data.dtypes

id               int64
name            object
city            object
rating          object
rating_count    object
cost            object
cuisine         object
lic_no          object
link            object
address         object
menu            object
dtype: object

#### Data Understanding and Cleaning

In [6]:
#check Duplicate 
data.duplicated().sum()

np.int64(0)

In [7]:
# check Missing Values
data.isnull().sum()

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [8]:
data[data['name'].isnull()]

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
31044,397961,NaN,"Greater Mohali,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/5-tara-grea...,NaN,Menu/397961.json
32912,308071,NaN,"West Chd,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/food-under-...,NaN,Menu/308071.json
33046,308662,NaN,"West Chd,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/franks-frie...,NaN,Menu/308662.json
33488,170889,NaN,"South Chd,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/dhaba-7-pre...,NaN,Menu/170889.json
36492,390394,NaN,"George Town,Chennai",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/frozen-cafe...,NaN,Menu/390394.json
...,...,...,...,...,...,...,...,...,...,...,...
137122,256827,NaN,Satara,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/rajdhani-pa...,NaN,Menu/256827.json
137546,567595,NaN,Shillong,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/the-blue-ri...,NaN,Menu/567595.json
137614,116615,NaN,Shivamogga,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/bakers-bowl...,NaN,Menu/116615.json
138380,401760,NaN,Sirsa,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/murga-dlf-p...,NaN,Menu/401760.json
141568,463812,NaN,Thiruvananthapuram,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/punjabi-dha...,NaN,Menu/463812.json

In [9]:
data = data.dropna(subset=['name']).reset_index(drop = True) #Drop na name rows

In [ ]:
#148541 - 86

148455

In [11]:
data.shape

(148455, 11)

In [12]:
# check Missing Values
data.isnull().sum()

id                0
name              0
city              0
rating            0
rating_count      0
cost             45
cuisine          13
lic_no          143
link              0
address           0
menu              0
dtype: int64

In [13]:
data[data['cuisine'].isnull()]

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
47761,155151,Pocket Plates By Abongchiiz,"GTB Nagar,Delhi",--,Too Few Ratings,₹ 300,NaN,23318002000022,https://www.swiggy.com/restaurants/pocket-plat...,"Pocket Plates By Abongchiiz, SHOP NO-15 DDA MA...",Menu/155151.json
51691,245476,NEW YORK WAFFLES & DINGES,"Greater Kailash 2,Delhi",--,Too Few Ratings,₹ 150,NaN,23319008000450,https://www.swiggy.com/restaurants/new-york-wa...,"NEW YORK WAFFLES & DINGES, A 6 KAILASH COLONY,...",Menu/245476.json
52211,62718,34 Chowringhee Lane,"Ashok Vihar,Delhi",3.6,100+ ratings,₹ 350,NaN,13318005000537,https://www.swiggy.com/restaurants/34-chowring...,"34 Chowringhee Lane, Shop no. 2, Phase 1, J bl...",Menu/62718.json
52507,349965,TRP-Tandoor Roll Paratha,"South Extension,Delhi",--,Too Few Ratings,₹ 150,NaN,23321002000062,https://www.swiggy.com/restaurants/trp-tandoor...,"TRP-Tandoor Roll Paratha, D-59, Panchsheel Enc...",Menu/349965.json
57156,319007,Kathi Roll Point,"Lajpat Nagar,Delhi",--,Too Few Ratings,₹ 200,NaN,23321010000517,https://www.swiggy.com/restaurants/kathi-roll-...,"Kathi Roll Point, SHOP NO.42,NEHRU NAGAR NEW D...",Menu/319007.json
91121,129110,Veggiee Treat,"Chinar Park,Kolkata",4.4,50+ ratings,₹ 200,NaN,22819013001075,https://www.swiggy.com/restaurants/veggiee-tre...,"Veggiee Treat, JAMUNA POINT, C3, GROUND FLOOR,...",Menu/129110.json
99542,173687,Dixit Chaat House,"Gomti Nagar,Lucknow",--,Too Few Ratings,₹ 200,NaN,22719743000127,https://www.swiggy.com/restaurants/dixit-chaat...,"Dixit Chaat House, ONE AWADH MALL, VIBHUTI KHA...",Menu/173687.json
111103,310000,Banjo's The food chain,"Airoli,Mumbai",--,Too Few Ratings,₹ 300,NaN,21520073000201,https://www.swiggy.com/restaurants/banjos-the-...,"Banjo's The food chain, MSD ENTERPRISES,SHOP ...",Menu/310000.json
113307,207931,Green Chilli,"Nandanvan,Nagpur",--,Too Few Ratings,₹ 250,NaN,license,https://www.swiggy.com/restaurants/green-chill...,"Green Chilli, 5 hanuman nagar, krida road, abo...",Menu/207931.json
125119,322909,Sahil's Kitchen,"Kondhwa,Pune",--,Too Few Ratings,₹ 180,NaN,21520167000725,https://www.swiggy.com/restaurants/sahils-kitc...,"Sahil's Kitchen, E-51, GROUND FLOOR, KAMALDEEP...",Menu/322909.json
128453,294699,Wholesale Bazar,"Hinjewadi,Pune",--,Too Few Ratings,NaN,NaN,00000000000000,https://www.swiggy.com/restaurants/wholesale-b...,"Wholesale Bazar, Shop 3, Sai Prasad Apartment,...",Menu/294699.json
147786,425369,THE KURTOS,"Dwarka Nagar,Vizag",2.9,20+ ratings,₹ 250,NaN,10121028000339,https://www.swiggy.com/restaurants/the-kurtos-...,"THE KURTOS, 10-50-24, SIRIPURAM CIR, OPP. HSBC...",Menu/425369.json
147844,425304,The Fritter Fries,"Dwarka Nagar,Vizag",3.7,20+ ratings,₹ 250,NaN,10121028000339,https://www.swiggy.com/restaurants/the-fritter...,"The Fritter Fries, 10-50-24, Siripuram Cir, op...",Menu/425304.json

In [ ]:
data = data.dropna(subset=['cuisine']).reset_index(drop=True) #drop na cuisine rows

In [15]:
data.shape

(148442, 11)

In [16]:
data.isnull().sum()

id                0
name              0
city              0
rating            0
rating_count      0
cost             44
cuisine           0
lic_no          143
link              0
address           0
menu              0
dtype: int64

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148442 entries, 0 to 148441
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148442 non-null  int64
 1   name          148442 non-null  object
 2   city          148442 non-null  object
 3   rating        148442 non-null  object
 4   rating_count  148442 non-null  object
 5   cost          148398 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148299 non-null  object
 8   link          148442 non-null  object
 9   address       148442 non-null  object
 10  menu          148442 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [18]:
# Categorical: name, city, cuisine
# Numerical: rating, rating_count, cost

In [19]:
data['cost'].value_counts()

cost
₹ 200    38632
₹ 300    29699
₹ 250    19742
₹ 150    12094
₹ 400    11711
         ...
₹ 216        1
₹ 88         1
₹ 101        1
₹ 312        1
₹ 64         1
Name: count, Length: 363, dtype: int64

In [20]:
data['cost'].unique()

array(['₹ 200', '₹ 100', '₹ 250', '₹ 150', '₹ 300', '₹ 700', '₹ 650',
       '₹ 400', '₹ 350', '₹ 60', '₹ 110', '₹ 399', '₹ 249', '₹ 500',
       '₹ 99', '₹ 120', '₹ 499', '₹ 299', '₹ 199', '₹ 50', '₹ 180',
       '₹ 349', '₹ 1000', '₹ 599', '₹ 600', '₹ 800', '₹ 450', '₹ 149',
       '₹ 290', '₹ 175', '₹ 125', '₹ 8', '₹ 375', '₹ 275', '₹ 425',
       '₹ 225', '₹ 325', '₹ 75', '₹ 160', '₹ 550', '₹ 220', '₹ 20',
       '₹ 59', '₹ 1200', '₹ 210', '₹ 30', '₹ 310', '₹ 70', '₹ 170',
       '₹ 449', '₹ 280', '₹ 320', '₹ 1300', '₹ 850', '₹ 900', '₹ 40',
       '₹ 1500', '₹ 140', '₹ 1100', '₹ 410', '₹ 80', '₹ 10', '₹ 1245',
       '₹ 510', '₹ 90', '₹ 260', '₹ 1800', '₹ 5', '₹ 240', '₹ 460',
       '₹ 1900', '₹ 352', '₹ 298', '₹ 2', '₹ 252', '₹ 330', '₹ 750',
       '₹ 130', '₹ 2000', '₹ 198', '₹ 230', '₹ 999', '₹ 3999', nan,
       '₹ 235', '₹ 1600', '₹ 55', '₹ 179', '₹ 129', '₹ 360', '₹ 85',
       '₹ 248', '₹ 270', '₹ 25', '₹ 159', '₹ 370', '₹ 1050', '₹ 49',
       '₹ 699', '₹ 340', '₹ 190', '₹ 710', '₹ 1250', '₹ 178', '₹ 148',
       '₹ 380', '₹ 257', '₹ 171', '₹ 193', '₹ 189', '₹ 197', '₹ 336',
       '₹ 251', '₹ 245', '₹ 219', '₹ 188', '₹ 137', '₹ 164', '₹ 126',
       '₹ 268', '₹ 421', '₹ 540', '₹ 239', '₹ 14', '₹ 259', '₹ 1400',
       '₹ 497', '₹ 176', '₹ 255', '₹ 990', '₹ 158', '₹ 438', '₹ 354',
       '₹ 483', '₹ 69', '₹ 398', '₹ 39', '₹ 560', '₹ 278', '₹ 3000',
       '₹ 749', '₹ 2400', '₹ 950', '₹ 480', '₹ 258', '₹ 45', '₹ 359',
       '₹ 119', '₹ 224', '₹ 385', '₹ 590', '₹ 703', '₹ 347', '₹ 363',
       '₹ 790', '₹ 798', '₹ 15', '₹ 89', '₹ 355', '₹ 105', '₹ 719',
       '₹ 1099', '₹ 289', '₹ 440', '₹ 420', '₹ 559', '₹ 215', '₹ 390',
       '₹ 1', '₹ 138', '₹ 760', '₹ 595', '₹ 218', '₹ 65', '₹ 532',
       '₹ 288', '₹ 292', '₹ 214', '₹ 267', '₹ 284', '₹ 283', '₹ 746',
       '₹ 269', '₹ 287', '₹ 254', '₹ 502', '₹ 2022', '₹ 2500', '₹ 899',
       '₹ 163', '₹ 182', '₹ 203', '₹ 296', '₹ 597', '₹ 327', '₹ 293',
       '₹ 169', '₹ 799', '₹ 295', '₹ 263', '₹ 238', '₹ 378', '₹ 8000',
       '₹ 28', '₹ 498', '₹ 490', '₹ 459', '₹ 3500', '₹ 209', '₹ 183',
       '₹ 12', '₹ 79', '₹ 409', '₹ 196', '₹ 680', '₹ 888', '₹ 520',
       '₹ 279', '₹ 147', '₹ 475', '₹ 348', '₹ 1700', '₹ 630', '₹ 152',
       '₹ 580', '₹ 155', '₹ 1038', '₹ 384', '₹ 201', '₹ 111', '₹ 4',
       '₹ 195', '₹ 313', '₹ 229', '₹ 265', '₹ 118', '₹ 357', '₹ 294',
       '₹ 328', '₹ 640', '₹ 297', '₹ 430', '₹ 849', '₹ 649', '₹ 135',
       '₹ 675', '₹ 115', '₹ 132', '₹ 151', '₹ 396', '₹ 95', '₹ 102',
       '₹ 38', '₹ 3', '₹ 124', '₹ 106', '₹ 104', '₹ 32', '₹ 379', '₹ 98',
       '₹ 526', '₹ 820', '₹ 620', '₹ 108', '₹ 2509', '₹ 285', '₹ 6000',
       '₹ 5023', '₹ 204', '₹ 840', '₹ 839', '₹ 109', '₹ 308', '₹ 1650',
       '₹ 305', '₹ 84', '₹ 574', '₹ 748', '₹ 318', '₹ 2100', '₹ 1290',
       '₹ 57', '₹ 145', '₹ 185', '₹ 35', '₹ 458', '₹ 549', '₹ 660',
       '₹ 1045', '₹ 24', '₹ 880', '₹ 1999', '₹ 300350', '₹ 338', '₹ 493',
       '₹ 2200', '₹ 495', '₹ 444', '₹ 48', '₹ 780', '₹ 389', '₹ 3200',
       '₹ 416', '₹ 3360', '₹ 530', '₹ 366', '₹ 96', '₹ 221', '₹ 564',
       '₹ 920', '₹ 11', '₹ 395', '₹ 478', '₹ 208', '₹ 222', '₹ 144',
       '₹ 236', '₹ 276', '₹ 333', '₹ 139', '₹ 29', '₹ 315', '₹ 3100',
       '₹ 2700', '₹ 271', '₹ 351', '₹ 311', '₹ 286', '₹ 301', '₹ 256',
       '₹ 507', '₹ 87', '₹ 211', '₹ 22', '₹ 26', '₹ 5000', '₹ 2800',
       '₹ 598', '₹ 1001', '₹ 13', '₹ 156', '₹ 53', '₹ 165', '₹ 131',
       '₹ 666', '₹ 1150', '₹ 1020', '₹ 277', '₹ 1199', '₹ 177', '₹ 518',
       '₹ 54', '₹ 121', '₹ 670', '₹ 345', '₹ 94', '₹ 501', '₹ 216',
       '₹ 625', '₹ 88', '₹ 101', '₹ 312', '₹ 448', '₹ 64'], dtype=object)

In [21]:
#Impute with missing values 'cost'
#Remove the special character 
data['cost'] = data['cost'].str.replace('₹', ' ', regex=True).str.strip()

In [22]:
data['cost'].isna().sum()

np.int64(44)

In [23]:
#convert object to int
data['cost'] = data['cost'].fillna(0).astype(int)

In [24]:
data['cost'].isnull().sum()

np.int64(0)

In [25]:
data['cuisine'].value_counts()

cuisine
North Indian,Chinese    6471
Indian                  6414
Chinese                 5051
North Indian            4775
Indian,Chinese          4374
                        ...
Biryani,Asian              1
Kerala,Home Food           1
Continental,Nepalese       1
Snacks,Jain                1
Juices,Sweets              1
Name: count, Length: 2132, dtype: int64

In [26]:
data[data['cost']== 0 ]

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
4966,132295,Chinese Hut,Akola,3.7,50+ ratings,0,Chinese,21518145000592,https://www.swiggy.com/restaurants/chinese-hut...,"Chinese Hut, Sindhi Colony, Akola, Maharashtra...",Menu/132295.json
4983,134728,Zamzam Family Restaurant,Akola,3.2,50+ ratings,0,"Indian,Biryani",21519247000522,https://www.swiggy.com/restaurants/zamzam-fami...,"Zamzam Family Restaurant, Subhash Chowk,Red Cr...",Menu/134728.json
24835,131745,Anvita Veg Restaurant,Beed,3.7,100+ ratings,0,"North Indian,South Indian",11514047000911,https://www.swiggy.com/restaurants/anvita-veg-...,"Anvita Veg Restaurant, Jalna road Beed",Menu/131745.json
24836,132958,Bansi Pav bhaji,Beed,3.6,100+ ratings,0,Indian,21519231000433,https://www.swiggy.com/restaurants/bansi-pav-b...,"Bansi Pav bhaji, Sathe Chowk",Menu/132958.json
24838,131755,Sai Prasad Family Restaurant,Beed,3.8,20+ ratings,0,"Chinese,North Indian",11519047000631,https://www.swiggy.com/restaurants/sai-prasad-...,"Sai Prasad Family Restaurant, Mane Complex",Menu/131755.json
24839,131913,Taj Chicken Chinese,Beed,3.2,20+ ratings,0,Chinese,21516231000666,https://www.swiggy.com/restaurants/taj-chicken...,"Taj Chicken Chinese, Basir Gang , Beed",Menu/131913.json
24840,133551,Hotel Maithili,Beed,3.8,100+ ratings,0,"North Indian,Punjabi",11520147000042,https://www.swiggy.com/restaurants/hotel-maith...,"Hotel Maithili, D.P Road, Beed",Menu/133551.json
24846,132123,Copisa,Beed,3.2,20+ ratings,0,"Pizzas,Italian",21516231000093,https://www.swiggy.com/restaurants/copisa-city...,"Copisa, Sarda Capital",Menu/132123.json
24848,131919,Taj Biryani House,Beed,2.5,20+ ratings,0,"Biryani,North Indian",21516231000666,https://www.swiggy.com/restaurants/taj-biryani...,"Taj Biryani House, Basir Gang , Beed",Menu/131919.json
24864,131737,Shantiraj Bhel Pakodi Center,Beed,--,Too Few Ratings,0,Chaat,21519231000450,https://www.swiggy.com/restaurants/shantiraj-b...,"Shantiraj Bhel Pakodi Center, Rajiv Gandhi Cho...",Menu/131737.json
24867,134111,Hotel Haveli,Beed,--,Too Few Ratings,0,"Chinese,North Indian",11518047000320,https://www.swiggy.com/restaurants/hotel-havel...,"Hotel Haveli, Jalna road, Beed",Menu/134111.json
24886,132957,Barkha devi Ice cream,Beed,--,Too Few Ratings,0,Desserts,21518231000533,https://www.swiggy.com/restaurants/barkha-devi...,"Barkha devi Ice cream, Sathe Chowk",Menu/132957.json
25329,276257,M/S. TULASI ENTERPRISES(AMUL ICE CREAM ESSENTI...,Berhampur,--,Too Few Ratings,0,Popular Brand Store,12019035000041,https://www.swiggy.com/restaurants/m-s-tulasi-...,M/S. TULASI ENTERPRISES(AMUL ICE CREAM ESSENTI...,Menu/276257.json
27884,272977,Amul,Bijnor,--,Too Few Ratings,0,Popular Brand Store,10101010101010,https://www.swiggy.com/restaurants/amul-chandp...,"Amul, MOH. KATRIYAN , B-13, CHANDPUR ROAD , BI...",Menu/272977.json
30035,387716,Froogal_Test_Outlet,Budhwal,--,Too Few Ratings,0,"North Indian,Chinese",00000000000000,https://www.swiggy.com/restaurants/froogal-tes...,"Froogal_Test_Outlet, This is reserved for Meat...",Menu/387716.json
32200,285780,Bakery Dlight,"North Mohali,Chandigarh",--,Too Few Ratings,0,Indian,12117801000198,https://www.swiggy.com/restaurants/bakery-dlig...,"Bakery Dlight, F-289, Industrial Area, Phase 8...",Menu/285780.json
32358,287185,Ferns n Petal,"North Mohali,Chandigarh",--,Too Few Ratings,0,Indian,22119676000843,https://www.swiggy.com/restaurants/ferns-n-pet...,"Ferns n Petal, BOOTH NO. 317,NEAR AMRIT SWEET'...",Menu/287185.json
35274,73662,Mozza,"Annanagar,Chennai",--,Too Few Ratings,0,"Continental,Chinese",12418002005961,https://www.swiggy.com/restaurants/mozza-annan...,"Mozza, New No.87/1, Old No. 21/1, First Floor,...",Menu/73662.json
37128,89837,THE WAFFLE MASTER,"Kilpauk,Chennai",3.7,50+ ratings,0,"Desserts,Fast Food",22420536000183,https://www.swiggy.com/restaurants/the-waffle-...,"THE WAFFLE MASTER, NO. 237/A KILPAUK GARDEN RO...",Menu/89837.json
40403,62536,Zayd malaysian parotta,"ECR-Kottivakkam,Chennai",--,Too Few Ratings,0,"Continental,South Indian",22421076000338,https://www.swiggy.com/restaurants/zayd-malays...,"Zayd malaysian parotta, No.3/189, ECR ROAD, ve...",Menu/62536.json
45449,58143,Hotel Lakshmi Chettinad,"Sai Baba Colony,Coimbatore",--,Too Few Ratings,0,"Indian,Chinese",12417003000157,https://www.swiggy.com/restaurants/hotel-laksh...,"Hotel Lakshmi Chettinad, B11, Opposite Saibaba...",Menu/58143.json
70084,296703,Tweety Bakery Shop,Haldwani,--,Too Few Ratings,0,Bakery,22618038000691,https://www.swiggy.com/restaurants/tweety-bake...,"Tweety Bakery Shop, The Tweety Bakery Shop, Ne...",Menu/296703.json
70125,317533,CLOCK 12 BAKERY,Haldwani,--,Too Few Ratings,0,"Bakery,Snacks",22621038000777,https://www.swiggy.com/restaurants/clock-12-ba...,"CLOCK 12 BAKERY, DEHARIYA MANPUR WEST, Manpur ...",Menu/317533.json
82127,384579,SHRI MAHAVIR GRUH UDHYOG,"Vijay Nagar,Indore",--,Too Few Ratings,0,Snacks,21421850003316,https://www.swiggy.com/restaurants/shri-mahavi...,"SHRI MAHAVIR GRUH UDHYOG, 102/584 NIRMAL REGEN...",Menu/384579.json
83905,209434,The Nirvana,Jalpaiguri,3.8,100+ ratings,0,"North Indian,Chinese",12818009000291,https://www.swiggy.com/restaurants/the-nirvana...,"The Nirvana, old police line",Menu/209434.json
83907,209433,The Nirvana Fast Food Centre,Jalpaiguri,4.0,100+ ratings,0,"Indian,Chinese",22819009000721,https://www.swiggy.com/restaurants/the-nirvana...,"The Nirvana Fast Food Centre, Merchant Rd, Jal...",Menu/209433.json
83929,214565,Mumbai Dosa Plaza(Joy Guru),Jalpaiguri,3.3,20+ ratings,0,South Indian,license,https://www.swiggy.com/restaurants/mumbai-dosa...,"Mumbai Dosa Plaza(Joy Guru), Opposite goriamar...",Menu/214565.json
83940,209437,New Ananda Mistanna Bhandar,Jalpaiguri,4.1,20+ ratings,0,Sweets,12818009000433,https://www.swiggy.com/restaurants/new-ananda-...,"New Ananda Mistanna Bhandar, naren villa, stat...",Menu/209437.json
84601,278835,SHARA'S DRY FRUITS,Jhunjhunu,--,Too Few Ratings,0,Indian,22218079000085,https://www.swiggy.com/restaurants/sharas-dry-...,"SHARA'S DRY FRUITS, Central Jhunjhunu, Bakara ...",Menu/278835.json
84635,285343,Prince Ice Cream,Jind,--,Too Few Ratings,0,Ice Cream,10814008000062,https://www.swiggy.com/restaurants/prince-ice-...,"Prince Ice Cream, opp. Old Subji Mandi, Jind",Menu/285343.json
88222,286283,Cusiny Home Grow,"Aluva,Kochi",--,Too Few Ratings,0,Indian,21320181000856,https://www.swiggy.com/restaurants/cusiny-home...,"Cusiny Home Grow, 312/J KATTAMPILLY SQUARE ALU...",Menu/286283.json
105839,298042,Barkat vegetables,"Powai,Mumbai",--,Too Few Ratings,0,Indian,license,https://www.swiggy.com/restaurants/barkat-vege...,"Barkat vegetables, tubga gaon sabji market s v...",Menu/298042.json
110820,44397,Manik'S Modern Fresh Popcorn,"Matunga Wadala,Mumbai",4.6,50+ ratings,0,Snacks,21521012000503,https://www.swiggy.com/restaurants/maniks-mode...,"Manik'S Modern Fresh Popcorn, 373 Patel Maha...",Menu/44397.json
112708,108847,Pop Chinese Corner,"Dharampeth,Nagpur",--,Too Few Ratings,0,"Fast Food,Chinese",21518259002917,https://www.swiggy.com/restaurants/pop-chinese...,"Pop Chinese Corner, opp dande hospital ravi nagar",Menu/108847.json
114682,316651,KANBRO EATS,Namakkal,--,Too Few Ratings,0,"Bakery,Snacks",12416014000271,https://www.swiggy.com/restaurants/kanbro-eats...,"KANBRO EATS, 4-216/7 ,sakthi vipgarden,bothupa...",Menu/316651.json
119986,168811,Hot & Juicy - sweetcorn house,Phagwara,--,Too Few Ratings,0,Snacks,22119664000066,https://www.swiggy.com/restaurants/hot-and-jui...,"Hot & Juicy - sweetcorn house, Central Town ,P...",Menu/168811.json
120022,167892,Hotel Ashish Continental,Phagwara,--,Too Few Ratings,0,Continental,12119401000019,https://www.swiggy.com/restaurants/hotel-ashis...,"Hotel Ashish Continental, Phagwara",Menu/167892.json
121542,272447,Prakash Vegetables And Fruits,"Pimple Saudagar,Pune",--,Too Few Ratings,0,8:15 To 11:30 Pm,21518177000265,https://www.swiggy.com/restaurants/prakash-veg...,"Prakash Vegetables And Fruits, Prathamesh Buil...",Menu/272447.json
126295,302550,AAryas Fresh Vegetables,"Bavdhan,Pune",--,Too Few Ratings,0,Indian,21518180000981,https://www.swiggy.com/restaurants/aaryas-fres...,"AAryas Fresh Vegetables, Aaryas Freshh Vegetab...",Menu/302550.json
140996,221505,KF Restaurant,Tezpur,3.6,50+ ratings,0,"Indian,Chinese",10319013000084,https://www.swiggy.com/restaurants/kf-restaura...,"KF Restaurant, Mission Chariali",Menu/221505.json
141055,222071,M/S K/K Restaurant,Tezpur,--,Too Few Ratings,0,"Indian,Chinese",20319113000233,https://www.swiggy.com/restaurants/m-s-k-k-res...,"M/S K/K Restaurant, Near Mahabhairab Mandir",Menu/222071.json
142745,304862,AAKASH FOODS,Tiruvannamalai,--,Too Few Ratings,0,Indian,12418024000892,https://www.swiggy.com/restaurants/aakash-food...,"AAKASH FOODS, NO 7 , SRIRAM NAGAR,POLUR ROAD,T...",Menu/304862.json
143852,462679,MOMO MAGIC CAFE,Ujjain,--,Too Few Ratings,0,"Chinese,Beverages",license,https://www.swiggy.com/restaurants/momo-magic-...,"MOMO MAGIC CAFE, Khasra No 8/1, Mohalla Nanakh...",Menu/462679.json
148172,148773,Hashtag Cafe,Wardha,--,Too Few Ratings,0,"Snacks,Continental",21519268000319,https://www.swiggy.com/restaurants/hashtag-caf...,"Hashtag Cafe, opp. Main city police station, n...",Menu/148773.json

In [27]:
data[data['cost']== 0 ].shape

(44, 11)

In [29]:
#fill the cost value depends on unique cosine

In [30]:
# calculate the mean cost for each category of cuisine to (impute it cost 0 )
mean_values = data.groupby('cuisine')['cost'].mean().astype(int).to_dict()

In [39]:
mean_values

{'8:15 To 11:30 Pm': 194,
 'Afghani': 308,
 'Afghani,American': 250,
 'Afghani,Arabian': 330,
 'Afghani,Bangladeshi': 150,
 'Afghani,Barbecue': 300,
 'Afghani,Bengali': 500,
 'Afghani,Biryani': 255,
 'Afghani,Chinese': 262,
 'Afghani,Combo': 200,
 'Afghani,European': 200,
 'Afghani,Fast Food': 300,
 'Afghani,Grill': 250,
 'Afghani,Hyderabadi': 200,
 'Afghani,Indian': 270,
 'Afghani,Italian': 250,
 'Afghani,Mughlai': 300,
 'Afghani,North Indian': 249,
 'Afghani,South Indian': 199,
 'Afghani,Tandoor': 283,
 'African,Bakery': 250,
 'African,Continental': 250,
 'African,Indian': 150,
 'American': 321,
 'American,Andhra': 450,
 'American,Arabian': 321,
 'American,Asian': 658,
 'American,Assamese': 225,
 'American,Bakery': 278,
 'American,Barbecue': 443,
 'American,Bengali': 300,
 'American,Beverages': 280,
 'American,Biryani': 282,
 'American,British': 200,
 'American,Burgers': 258,
 'American,Cafe': 383,
 'American,Chaat': 200,
 'American,Chinese': 245,
 'American,Combo': 191,
 'American,Continental': 467,
 'American,Desserts': 305,
 'American,European': 717,
 'American,Fast Food': 275,
 'American,French': 200,
 'American,Goan': 350,
 'American,Grill': 525,
 'American,Healthy Food': 338,
 'American,Ice Cream': 175,
 'American,Indian': 306,
 'American,Italian': 341,
 'American,Italian-American': 377,
 'American,Jain': 275,
 'American,Juices': 141,
 'American,Kebabs': 225,
 'American,Keto': 500,
 'American,Korean': 300,
 'American,Lebanese': 450,
 'American,Mediterranean': 1200,
 'American,Mexican': 409,
 'American,Mughlai': 400,
 'American,Nepalese': 150,
 'American,North Indian': 263,
 'American,Pan-Asian': 800,
 'American,Pastas': 293,
 'American,Pizzas': 270,
 'American,Portuguese': 250,
 'American,Salads': 616,
 'American,Snacks': 349,
 'American,Steakhouse': 550,
 'American,Street Food': 325,
 'American,Tandoor': 250,
 'American,Thai': 250,
 'American,Turkish': 200,
 'American,Waffle': 250,
 'Andhra': 278,
 'Andhra,Arabian': 400,
 'Andhra,Asian': 462,
 'Andhra,Beverages': 500,
 'Andhra,Biryani': 365,
 'Andhra,Chettinad': 500,
 'Andhra,Chinese': 313,
 'Andhra,Coastal': 275,
 'Andhra,Combo': 200,
 'Andhra,Desserts': 475,
 'Andhra,Fast Food': 300,
 'Andhra,Home Food': 200,
 'Andhra,Hyderabadi': 275,
 'Andhra,Indian': 353,
 'Andhra,Kerala': 200,
 'Andhra,North Indian': 277,
 'Andhra,Rayalaseema': 400,
 'Andhra,Seafood': 350,
 'Andhra,Snacks': 175,
 'Andhra,South Indian': 344,
 'Andhra,Tandoor': 323,
 'Andhra,Telangana': 300,
 'Arabian': 265,
 'Arabian,Afghani': 1249,
 'Arabian,American': 245,
 'Arabian,Asian': 700,
 'Arabian,Barbecue': 290,
 'Arabian,Beverages': 230,
 'Arabian,Biryani': 334,
 'Arabian,Burgers': 262,
 'Arabian,Burmese': 200,
 'Arabian,Chettinad': 200,
 'Arabian,Chinese': 264,
 'Arabian,Combo': 274,
 'Arabian,Continental': 301,
 'Arabian,Desserts': 290,
 'Arabian,Fast Food': 252,
 'Arabian,French': 250,
 'Arabian,Grill': 258,
 'Arabian,Haleem': 350,
 'Arabian,Hyderabadi': 300,
 'Arabian,Ice Cream': 290,
 'Arabian,Indian': 306,
 'Arabian,Italian': 237,
 'Arabian,Juices': 245,
 'Arabian,Kebabs': 286,
 'Arabian,Kerala': 296,
 'Arabian,Lebanese': 276,
 'Arabian,Mangalorean': 390,
 'Arabian,Mediterranean': 261,
 'Arabian,Mexican': 192,
 'Arabian,Middle Eastern': 300,
 'Arabian,Mughlai': 322,
 'Arabian,North Indian': 300,
 'Arabian,Pastas': 280,
 'Arabian,Pizzas': 262,
 'Arabian,Salads': 311,
 'Arabian,Seafood': 275,
 'Arabian,Snacks': 255,
 'Arabian,South Indian': 241,
 'Arabian,Street Food': 250,
 'Arabian,Tandoor': 317,
 'Arabian,Tibetan': 200,
 'Arabian,Turkish': 313,
 'Asian': 663,
 'Asian,Awadhi': 600,
 'Asian,Bakery': 300,
 'Asian,Bengali': 500,
 'Asian,Beverages': 775,
 'Asian,Biryani': 350,
 'Asian,Burmese': 578,
 'Asian,Chinese': 488,
 'Asian,Combo': 300,
 'Asian,Continental': 870,
 'Asian,Desserts': 800,
 'Asian,European': 1375,
 'Asian,Fast Food': 550,
 'Asian,French': 600,
 'Asian,Goan': 550,
 'Asian,Healthy Food': 750,
 'Asian,Indian': 603,
 'Asian,Indonesian': 300,
 'Asian,Italian': 866,
 'Asian,Japanese': 946,
 'Asian,Korean': 562,
 'Asian,Mughlai': 400,
 'Asian,Nepalese': 600,
 'Asian,North Indian': 362,
 'Asian,Oriental': 775,
 'Asian,Pan-Asian': 700,
 'Asian,Salads': 400,
 'Asian,Seafood': 600,
 'Asian,Singaporean': 700,
 'Asian,Snacks': 346,
 'Asian,Sushi': 499,
 'Asian,Thai': 759,
 'Asian,Tibetan': 210,
 'Asian,Turkish': 2000,
 'Assamese': 300,
 'Assamese,Bengali': 416,
 'Assamese,Chinese': 267,
 'Assamese,Indian': 331,
 'Assamese,Italian': 200,
 'Assamese,Mughlai': 300,
 'Assamese,Naga': 233,
 'Assamese,North Indian': 250,
 'Assamese,Seafood': 600,
 'Assamese,Sweets': 350,
 'Assamese,Thai': 300,
 'Assamese,Thalis': 400,
 'Assamese,Tribal': 300,
 'Awadhi': 362,
 'Awadhi,Barbecue': 600,
 'Awadhi,Biryani': 410,
 'Awadhi,Indian': 316,
 'Awadhi,Lucknowi': 600,
 'Awadhi,Mughlai': 370,
 'Awadhi,North Indian': 500,
 'Awadhi,Punjabi': 250,
 'Bakery': 309,
 'Bakery products': 150,
 'Bakery,American': 269,
 'Bakery,Arabian': 224,
 'Bakery,Bengali': 200,
 'Bakery,Beverages': 243,
 'Bakery,Biryani': 313,
 'Bakery,Burgers': 300,
 'Bakery,Cafe': 261,
 'Bakery,Chaat': 250,
 'Bakery,Chinese': 252,
 'Bakery,Combo': 186,
 'Bakery,Continental': 345,
 'Bakery,Desserts': 298,
 'Bakery,European': 550,
 'Bakery,Fast Food': 272,
 'Bakery,Goan': 200,
 'Bakery,Grill': 300,
 'Bakery,Healthy Food': 283,
 'Bakery,Ice Cream': 233,
 'Bakery,Ice Cream Cakes': 390,
 'Bakery,Indian': 274,
 'Bakery,Italian': 289,
 'Bakery,Italian-American': 381,
 'Bakery,Juices': 209,
 'Bakery,Kerala': 120,
 'Bakery,Lebanese': 300,
 'Bakery,Mexican': 250,
 'Bakery,Mughlai': 300,
 'Bakery,North Indian': 273,
 'Bakery,Pastas': 260,
 'Bakery,Pizzas': 260,
 'Bakery,Salads': 383,
 'Bakery,Snacks': 257,
 'Bakery,South Indian': 266,
 'Bakery,Street Food': 162,
 'Bakery,Sweets': 247,
 'Bakery,Tandoor': 300,
 'Bakery,Turkish': 1600,
 'Bakery,Use Code JUMBO30 to avail': 200,
 'Bakery,Waffle': 289,
 'Bangladeshi,Bengali': 333,
 'Bangladeshi,Beverages': 300,
 'Bangladeshi,Indian': 400,
 'Barbecue': 365,
 'Barbecue,American': 316,
 'Barbecue,Arabian': 253,
 'Barbecue,Beverages': 288,
 'Barbecue,Biryani': 335,
 'Barbecue,Burgers': 300,
 'Barbecue,Chinese': 340,
 'Barbecue,Continental': 250,
 'Barbecue,Fast Food': 252,
 'Barbecue,Grill': 302,
 'Barbecue,Indian': 357,
 'Barbecue,Italian': 400,
 'Barbecue,Italian-American': 150,
 'Barbecue,Kebabs': 212,
 'Barbecue,Lebanese': 300,
 'Barbecue,Mughlai': 262,
 'Barbecue,North Indian': 442,
 'Barbecue,Pizzas': 300,
 'Barbecue,Portuguese': 200,
 'Barbecue,Salads': 250,
 'Barbecue,Snacks': 232,
 'Barbecue,South Indian': 250,
 'Barbecue,Tandoor': 342,
 'Bengali': 453,
 'Bengali,American': 600,
 'Bengali,Andhra': 600,
 'Bengali,Assamese': 350,
 'Bengali,Bangladeshi': 358,
 'Bengali,Beverages': 227,
 'Bengali,Biryani': 327,
 'Bengali,Chinese': 286,
 'Bengali,Combo': 212,
 'Bengali,Continental': 419,
 'Bengali,Desserts': 333,
 'Bengali,Fast Food': 298,
 'Bengali,Home Food': 200,
 'Bengali,Indian': 310,
 'Bengali,Italian': 393,
 'Bengali,Kebabs': 300,
 'Bengali,Mughlai': 362,
 'Bengali,North Eastern': 400,
 'Bengali,North Indian': 285,
 'Bengali,Oriya': 316,
 'Bengali,Pastas': 600,
 'Bengali,Punjabi': 250,
 'Bengali,Seafood': 220,
 'Bengali,Snacks': 278,
 'Bengali,South Indian': 300,
 'Bengali,Street Food': 350,
 'Bengali,Sweets': 281,
 'Bengali,Tandoor': 283,
 'Bengali,Thalis': 299,
 'Beverages': 226,
 'Beverages,American': 250,
 'Beverages,Arabian': 256,
 'Beverages,Asian': 600,
 'Beverages,Australian': 300,
 'Beverages,Bakery': 272,
 'Beverages,Bengali': 173,
 'Beverages,Biryani': 298,
 'Beverages,British': 85,
 'Beverages,Burgers': 253,
 'Beverages,Cafe': 300,
 'Beverages,Chaat': 230,
 'Beverages,Chettinad': 240,
 'Beverages,Chinese': 255,
 'Beverages,Combo': 251,
 'Beverages,Continental': 317,
 'Beverages,Desserts': 238,
 'Beverages,European': 375,
 'Beverages,Fast Food': 242,
 'Beverages,French': 200,
 'Beverages,Grill': 170,
 'Beverages,Healthy Food': 278,
 'Beverages,Ice Cream': 246,
 'Beverages,Ice Cream Cakes': 100,
 'Beverages,Indian': 289,
 'Beverages,Italian': 242,
 'Beverages,Italian-American': 270,
 'Beverages,Juices': 206,
 'Beverages,Kebabs': 250,
 'Beverages,Kerala': 250,
 'Beverages,Keto': 233,
 'Beverages,Korean': 1000,
 'Beverages,Lebanese': 266,
 'Beverages,Maharashtrian': 266,
 'Beverages,Mexican': 340,
 'Beverages,Mughlai': 241,
 'Beverages,North Indian': 259,
 'Beverages,Paan': 150,
 'Beverages,Pastas': 254,
 'Beverages,Pizzas': 265,
 'Beverages,Punjabi': 275,
 'Beverages,Rajasthani': 150,
 'Beverages,Salads': 258,
 'Beverages,Seafood': 274,
 'Beverages,Snacks': 241,
 'Beverages,South Indian': 203,
 'Beverages,Street Food': 168,
 'Beverages,Sweets': 254,
 'Beverages,Tandoor': 200,
 'Beverages,Thalis': 250,
 'Beverages,Waffle': 262,
 'Bhutanese,Chinese': 266,
 'Bhutanese,Nepalese': 175,
 'Bihari': 271,
 'Bihari,Bengali': 200,
 'Bihari,Beverages': 566,
 'Bihari,Chinese': 125,
 'Bihari,Combo': 200,
 'Bihari,Desserts': 450,
 'Bihari,Indian': 199,
 'Bihari,Lucknowi': 300,
 'Bihari,North Indian': 371,
 'Bihari,Pizzas': 400,
 'Bihari,Rajasthani': 237,
 'Bihari,Snacks': 225,
 'Bihari,Street Food': 700,
 'Bihari,Sweets': 200,
 'Bihari,Thalis': 250,
 'Biryani': 281,
 'Biryani,Afghani': 213,
 'Biryani,American': 175,
 'Biryani,Andhra': 389,
 'Biryani,Arabian': 280,
 'Biryani,Asian': 250,
 'Biryani,Attractive Combos Available': 199,
 'Biryani,Awadhi': 350,
 'Biryani,Bakery': 325,
 'Biryani,Barbecue': 513,
 'Biryani,Bengali': 267,
 'Biryani,Beverages': 311,
 'Biryani,Bihari': 350,
 'Biryani,Burgers': 275,
 'Biryani,Cafe': 400,
 'Biryani,Chaat': 225,
 'Biryani,Chettinad': 344,
 'Biryani,Chinese': 280,
 'Biryani,Coastal': 349,
 'Biryani,Combo': 300,
 'Biryani,Continental': 292,
 'Biryani,Desserts': 343,
 'Biryani,Fast Food': 292,
 'Biryani,French': 350,
 'Biryani,Grill': 262,
 'Biryani,Gujarati': 250,
 'Biryani,Haleem': 314,
 'Biryani,Healthy Food': 349,
 'Biryani,Home Food': 400,
 'Biryani,Hyderabadi': 336,
 'Biryani,Ice Cream': 358,
 'Biryani,Indian': 289,
 'Biryani,Italian': 289,
 'Biryani,Juices': 350,
 'Biryani,Kashmiri': 250,
 'Biryani,Kebabs': 339,
 'Biryani,Kerala': 259,
 'Biryani,Lebanese': 346,
 'Biryani,Lucknowi': 375,
 'Biryani,Maharashtrian': 360,
 'Biryani,Malwani': 400,
 'Biryani,Mexican': 250,
 'Biryani,Mughlai': 414,
 'Biryani,North Eastern': 240,
 'Biryani,North Indian': 305,
 'Biryani,Pastas': 250,
 'Biryani,Pizzas': 390,
 'Biryani,Punjabi': 370,
 'Biryani,Rayalaseema': 466,
 'Biryani,Salads': 314,
 'Biryani,Seafood': 330,
 'Biryani,Snacks': 285,
 'Biryani,South Indian': 274,
 'Biryani,Street Food': 208,
 'Biryani,Sweets': 330,
 'Biryani,Tandoor': 308,
 'Biryani,Thai': 100,
 'Biryani,Thalis': 270,
 'Biryani,Turkish': 150,
 'British,American': 285,
 'British,Beverages': 291,
 'British,Chinese': 200,
 'British,Continental': 325,
 'British,Fast Food': 300,
 'British,Indian': 500,
 'British,Italian': 350,
 'British,North Indian': 300,
 'British,Pizzas': 200,
 'British,Snacks': 216,
 'British,Street Food': 200,
 'Burgers': 233,
 'Burgers,American': 328,
 'Burgers,Bakery': 130,
 'Burgers,Beverages': 453,
 'Burgers,Chinese': 197,
 'Burgers,Continental': 300,
 'Burgers,Desserts': 325,
 'Burgers,Fast Food': 267,
 'Burgers,Grill': 275,
 'Burgers,Healthy Food': 259,
 'Burgers,Ice Cream': 300,
 'Burgers,Indian': 200,
 'Burgers,Italian': 171,
 'Burgers,Italian-American': 300,
 'Burgers,Mexican': 375,
 'Burgers,North Indian': 300,
 'Burgers,Pastas': 236,
 'Burgers,Pizzas': 267,
 'Burgers,Snacks': 273,
 'Burgers,Street Food': 150,
 'Burmese': 363,
 'Burmese,American': 200,
 'Burmese,Chaat': 120,
 'Burmese,Chinese': 250,
 'Burmese,Fast Food': 200,
 'Burmese,Indian': 312,
 'Burmese,Indonesian': 1500,
 'Burmese,Kerala': 200,
 'Burmese,Lebanese': 600,
 'Burmese,Pan-Asian': 1200,
 'Burmese,South Indian': 240,
 'Burmese,Street Food': 182,
 'Burmese,Thai': 1500,
 'Cafe': 311,
 'Cafe,American': 250,
 'Cafe,Bakery': 200,
 'Cafe,Beverages': 254,
 'Cafe,Biryani': 200,
 'Cafe,Burgers': 200,
 'Cafe,Chaat': 250,
 'Cafe,Chinese': 268,
 'Cafe,Combo': 300,
 'Cafe,Continental': 550,
 'Cafe,Desserts': 439,
 'Cafe,European': 500,
 'Cafe,Fast Food': 277,
 'Cafe,Goan': 550,
 'Cafe,Healthy Food': 550,
 'Cafe,Ice Cream': 300,
 'Cafe,Indian': 237,
 'Cafe,Italian': 361,
 'Cafe,Juices': 250,
 'Cafe,Mediterranean': 400,
 'Cafe,North Indian': 374,
 'Cafe,Pastas': 200,
 'Cafe,Pizzas': 296,
 'Cafe,Snacks': 235,
 'Cafe,South Indian': 225,
 'Cafe,Turkish': 300,
 'Cafe,Waffle': 300,
 'Chaat': 160,
 'Chaat,American': 185,
 'Chaat,Bakery': 220,
 'Chaat,Beverages': 198,
 'Chaat,Biryani': 200,
 'Chaat,Burgers': 250,
 'Chaat,Cafe': 200,
 'Chaat,Chinese': 180,
 'Chaat,Combo': 106,
 'Chaat,Continental': 263,
 'Chaat,Desserts': 188,
 'Chaat,Fast Food': 190,
 'Chaat,German': 250,
 'Chaat,Gujarati': 150,
 'Chaat,Ice Cream': 221,
 'Chaat,Indian': 201,
 'Chaat,Italian': 196,
 'Chaat,Italian-American': 175,
 'Chaat,Jain': 500,
 'Chaat,Juices': 187,
 'Chaat,Kerala': 99,
 'Chaat,Maharashtrian': 300,
 'Chaat,Mughlai': 200,
 'Chaat,North Indian': 223,
 'Chaat,Paan': 150,
 'Chaat,Pizzas': 194,
 'Chaat,Punjabi': 150,
 'Chaat,Rajasthani': 175,
 'Chaat,Salads': 766,
 'Chaat,Snacks': 174,
 'Chaat,South Indian': 218,
 'Chaat,Street Food': 182,
 'Chaat,Sweets': 176,
 'Chaat,Tandoor': 300,
 'Chaat,Thalis': 129,
 'Chaat,Use code XPRESS121 to avail.': 150,
 'Chettinad': 302,
 'Chettinad,Andhra': 300,
 'Chettinad,Biryani': 275,
 'Chettinad,Chinese': 299,
 'Chettinad,Grill': 300,
 'Chettinad,Indian': 300,
 'Chettinad,Kerala': 350,
 'Chettinad,North Eastern': 200,
 'Chettinad,North Indian': 522,
 'Chettinad,Seafood': 400,
 'Chettinad,Snacks': 200,
 'Chettinad,South Indian': 411,
 'Chettinad,Tandoor': 400,
 'Chettinad,Thalis': 557,
 'Chinese': 266,
 'Chinese,Afghani': 233,
 'Chinese,American': 249,
 'Chinese,Andhra': 216,
 'Chinese,Arabian': 278,
 'Chinese,Asian': 426,
 'Chinese,Assamese': 212,
 'Chinese,Australian': 200,
 'Chinese,Bakery': 237,
 'Chinese,Barbecue': 300,
 'Chinese,Bengali': 300,
 'Chinese,Beverages': 267,
 'Chinese,Biryani': 277,
 'Chinese,British': 300,
 'Chinese,Burgers': 204,
 'Chinese,Burmese': 300,
 'Chinese,Cafe': 200,
 'Chinese,Chaat': 219,
 'Chinese,Chettinad': 266,
 'Chinese,Coastal': 425,
 'Chinese,Combo': 272,
 'Chinese,Continental': 356,
 'Chinese,Desserts': 293,
 'Chinese,European': 550,
 'Chinese,Fast Food': 247,
 'Chinese,French': 199,
 'Chinese,Goan': 418,
 'Chinese,Grill': 288,
 'Chinese,Gujarati': 275,
 'Chinese,Healthy Food': 284,
 'Chinese,Home Food': 325,
 'Chinese,Hyderabadi': 333,
 'Chinese,Ice Cream': 228,
 'Chinese,Indian': 285,
 'Chinese,Indonesian': 150,
 'Chinese,Italian': 289,
 'Chinese,Italian-American': 241,
 'Chinese,Jain': 225,
 'Chinese,Japanese': 559,
 'Chinese,Juices': 253,
 'Chinese,Kebabs': 310,
 'Chinese,Kerala': 292,
 'Chinese,Korean': 500,
 'Chinese,Lebanese': 289,
 'Chinese,Lucknowi': 150,
 'Chinese,MAX 2 Combos per Order!': 200,
 'Chinese,Maharashtrian': 309,
 'Chinese,Malaysian': 409,
 'Chinese,Malwani': 483,
 'Chinese,Mangalorean': 300,
 'Chinese,Mexican': 471,
 'Chinese,Mongolian': 250,
 'Chinese,Mughlai': 297,
 'Chinese,Naga': 300,
 'Chinese,Nepalese': 330,
 'Chinese,North Eastern': 246,
 'Chinese,North Indian': 304,
 'Chinese,Oriental': 609,
 'Chinese,Oriya': 200,
 'Chinese,Pan-Asian': 417,
 'Chinese,Pastas': 240,
 'Chinese,Pizzas': 267,
 'Chinese,Punjabi': 255,
 'Chinese,Rajasthani': 250,
 'Chinese,Salads': 544,
 'Chinese,Seafood': 395,
 'Chinese,Singaporean': 300,
 'Chinese,Snacks': 248,
 'Chinese,South Indian': 272,
 'Chinese,Street Food': 242,
 'Chinese,Sushi': 600,
 'Chinese,Sweets': 244,
 'Chinese,Tandoor': 289,
 'Chinese,Thai': 420,
 'Chinese,Thalis': 279,
 'Chinese,Tibetan': 271,
 'Chinese,Vietnamese': 1200,
 'Chinese,Waffle': 150,
 'Coastal': 400,
 'Coastal,Andhra': 500,
 'Coastal,Arabian': 800,
 'Coastal,Chinese': 500,
 'Coastal,Continental': 350,
 'Coastal,Goan': 825,
 'Coastal,Indian': 275,
 'Coastal,Mangalorean': 537,
 'Coastal,Seafood': 455,
 'Coastal,South Indian': 1200,
 'Combo': 279,
 'Combo,Afghani': 150,
 'Combo,American': 167,
 'Combo,Bengali': 200,
 'Combo,Beverages': 222,
 'Combo,Biryani': 237,
 'Combo,Chinese': 251,
 'Combo,Continental': 150,
 'Combo,Desserts': 500,
 'Combo,Fast Food': 234,
 'Combo,Grill': 200,
 'Combo,Healthy Food': 266,
 'Combo,Home Food': 275,
 'Combo,Ice Cream': 200,
 'Combo,Indian': 303,
 'Combo,Kebabs': 350,
 'Combo,Kerala': 250,
 'Combo,Maharashtrian': 300,
 'Combo,Mughlai': 300,
 'Combo,North Indian': 213,
 'Combo,Pizzas': 262,
 'Combo,Salads': 600,
 'Combo,Snacks': 290,
 'Combo,South Indian': 282,
 'Combo,Thalis': 227,
 'Continental': 335,
 'Continental,American': 440,
 'Continental,Arabian': 271,
 'Continental,Asian': 693,
 'Continental,BEVERAGE': 200,
 'Continental,Bakery': 365,
 'Continental,Barbecue': 283,
 'Continental,Bengali': 600,
 'Continental,Beverages': 275,
 'Continental,Biryani': 316,
 'Continental,Burgers': 225,
 'Continental,Cafe': 525,
 'Continental,Chaat': 150,
 'Continental,Chettinad': 250,
 'Continental,Chinese': 362,
 'Continental,Coastal': 480,
 'Continental,Combo': 275,
 'Continental,Desserts': 424,
 'Continental,European': 788,
 'Continental,Fast Food': 323,
 'Continental,Goan': 466,
 'Continental,Grill': 700,
 'Continental,Healthy Food': 373,
 'Continental,Home Food': 500,
 'Continental,Hyderabadi': 350,
 'Continental,Ice Cream': 228,
 'Continental,Indian': 487,
 'Continental,Italian': 408,
 'Continental,Italian-American': 331,
 'Continental,Jain': 200,
 'Continental,Japanese': 866,
 'Continental,Juices': 230,
 'Continental,Kebabs': 250,
 'Continental,Korean': 250,
 'Continental,Lebanese': 400,
 'Continental,Maharashtrian': 600,
 'Continental,Mediterranean': 460,
 'Continental,Mexican': 523,
 'Continental,Nepalese': 400,
 'Continental,North Indian': 396,
 'Continental,Oriental': 456,
 'Continental,Pan-Asian': 605,
 'Continental,Parsi': 1000,
 'Continental,Pastas': 410,
 'Continental,Pizzas': 297,
 'Continental,Punjabi': 300,
 'Continental,Salads': 442,
 'Continental,Seafood': 450,
 'Continental,Snacks': 258,
 'Continental,South Indian': 225,
 'Continental,Steakhouse': 900,
 'Continental,Sweets': 500,
 'Continental,Tandoor': 650,
 'Continental,Thai': 516,
 'Continental,Tibetan': 500,
 'Default': 250,
 'Desserts': 267,
 'Desserts,American': 405,
 'Desserts,Arabian': 300,
 'Desserts,Asian': 100,
 'Desserts,Bakery': 323,
 'Desserts,Bengali': 125,
 'Desserts,Beverages': 246,
 'Desserts,Biryani': 285,
 'Desserts,British': 150,
 'Desserts,Cafe': 270,
 'Desserts,Chaat': 210,
 'Desserts,Chinese': 266,
 'Desserts,Combo': 225,
 'Desserts,Continental': 516,
 'Desserts,European': 900,
 'Desserts,Fast Food': 244,
 'Desserts,French': 200,
 'Desserts,Greek': 400,
 'Desserts,Gujarati': 500,
 'Desserts,Haleem': 300,
 'Desserts,Healthy Food': 350,
 'Desserts,Home Food': 100,
 'Desserts,Hyderabadi': 150,
 'Desserts,Ice Cream': 238,
 'Desserts,Indian': 266,
 'Desserts,Italian': 365,
 'Desserts,Juices': 241,
 'Desserts,Kebabs': 500,
 'Desserts,Maharashtrian': 275,
 'Desserts,Mexican': 266,
 'Desserts,Middle Eastern': 562,
 'Desserts,Mughlai': 400,
 'Desserts,North Indian': 250,
 'Desserts,Paan': 137,
 'Desserts,Pan-Asian': 250,
 'Desserts,Pastas': 533,
 'Desserts,Pizzas': 243,
 'Desserts,Punjabi': 350,
 'Desserts,Salads': 183,
 'Desserts,Snacks': 261,
 'Desserts,South Indian': 218,
 'Desserts,Street Food': 244,
 'Desserts,Sweets': 238,
 'Desserts,Thai': 350,
 'Desserts,Turkish': 300,
 'Desserts,Waffle': 283,
 'Discount offer from Garden Cafe Express Kankurgachi,Tandoor': 200,
 'European': 678,
 'European,American': 1125,
 'European,Asian': 1000,
 'European,Bakery': 800,
 'European,Chinese': 350,
 'European,Continental': 900,
 'European,Desserts': 925,
 'European,Fast Food': 450,
 'European,French': 1100,
 'European,Indian': 840,
 'European,Italian': 410,
 'European,Mediterranean': 933,
 'European,Oriental': 550,
 'European,Pizzas': 200,
 'European,Snacks': 1150,
 'European,South American': 475,
 'European,South Indian': 450,
 'Fast Food': 234,
 'Fast Food,Afghani': 200,
 'Fast Food,American': 264,
 'Fast Food,Andhra': 300,
 'Fast Food,Arabian': 278,

In [ ]:
#replace all 0 cost values with the average cost for that cuisine
#data.loc[row_selection, column_selection]

In [40]:
#impute the value
data.loc[data['cost'] == 0, 'cost'] = data['cuisine'].map(mean_values)

In [41]:
#convert object to numeric
data['cost'] = pd.to_numeric(data['cost'], errors = 'coerce')

In [42]:
data['cost'].value_counts()

cost
200     38632
300     29699
250     19742
150     12094
400     11711
        ...
271         1
2700        1
3100        1
333         1
276         1
Name: count, Length: 373, dtype: int64

In [43]:
data['cost'].isnull().sum()

np.int64(0)

In [44]:
data['rating_count'].value_counts()

rating_count
Too Few Ratings    87005
20+ ratings        21634
100+ ratings       20547
50+ ratings        12008
500+ ratings        4396
1K+ ratings         2739
5K+ ratings           98
10K+ ratings          15
Name: count, dtype: int64

In [45]:
data['rating_count'] = data['rating_count'].replace('Too Few Ratings', 10)

In [46]:
data['rating_count'] = data['rating_count'].replace('20+ ratings', 35)

In [47]:
data['rating_count']

0                   10
1          50+ ratings
2         100+ ratings
3                   35
4                   10
              ...
148437              10
148438              10
148439              10
148440              10
148441              10
Name: rating_count, Length: 148442, dtype: object

In [48]:
data['rating_count'] = data['rating_count'].replace('50+ ratings', 75)

In [49]:
data['rating_count'] = data['rating_count'].replace('100+ ratings', 250)

In [50]:
data['rating_count'] = data['rating_count'].replace('500+ ratings', 750)

In [51]:
data['rating_count'] = data['rating_count'].replace('1K+ ratings', 2500)

In [52]:
data['rating_count'] = data['rating_count'].replace('5K+ ratings', 7500)

In [53]:
data['rating_count'] = data['rating_count'].replace('10K+ ratings', 15000)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_11412\3481483267.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['rating_count'] = data['rating_count'].replace('10K+ ratings', 15000)

In [54]:
data['rating_count'].value_counts()

rating_count
10       87005
35       21634
250      20547
75       12008
750       4396
2500      2739
7500        98
15000       15
Name: count, dtype: int64

In [55]:
data['rating_count'] = pd.to_numeric(data['rating_count'], errors = 'coerce')

In [56]:
data['rating'].value_counts()

rating
--     87005
4.0     6532
4.1     6296
4.2     5821
3.8     5736
3.9     5435
4.3     5011
3.7     4252
4.4     3148
3.5     2963
3.6     2924
3.4     1879
3.3     1801
4.5     1778
4.6     1334
3.2     1202
3.0      859
3.1      791
4.7      648
2.8      473
2.9      471
4.8      338
2.7      325
2.5      221
5.0      209
2.6      208
4.9      174
2.3      128
2.4      118
2.2       89
2.0       72
2.1       61
1.9       46
1.8       27
1.5       18
1.6       17
1.7       13
1.4       10
1.2        4
1.3        3
1.1        1
1.0        1
Name: count, dtype: int64

In [57]:
data[data['rating'] == '--']

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,10,200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
4,543530,GRILL MASTERS,Abohar,--,10,250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
7,244866,Shri Balaji Vaishno Dhaba,Abohar,--,10,100,North Indian,22119652000389,https://www.swiggy.com/restaurants/shri-balaji...,"Shri Balaji Vaishno Dhaba, St no 13,6th chowk,...",Menu/244866.json
9,158193,yummy hub,Abohar,--,10,200,Indian,22119652000045,https://www.swiggy.com/restaurants/yummy-hub-c...,"yummy hub, hanumangarh road near dr naveen set...",Menu/158193.json
10,407249,CHAWLA SAAB THE JUICE MASTER,Abohar,--,10,300,"Juices,Beverages",22121652000374,https://www.swiggy.com/restaurants/chawla-saab...,"CHAWLA SAAB THE JUICE MASTER, SAHITYA SADAN MA...",Menu/407249.json
...,...,...,...,...,...,...,...,...,...,...,...
148437,553122,The Food Delight,Yavatmal,--,10,200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148438,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,10,300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148439,559435,Cafe Bella Ciao,Yavatmal,--,10,300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148440,418989,GRILL ZILLA,Yavatmal,--,10,250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148441,447770,Lazeez kitchen,Yavatmal,--,10,200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [58]:
data['rating'] = pd.to_numeric(data['rating'], errors= 'coerce')

In [60]:
data['rating'].isnull().sum()

np.int64(87005)

In [61]:
median_values = data['rating'].median()

In [63]:
median_values

np.float64(4.0)

In [64]:
data['rating'] = data['rating'].fillna(median_values)

In [65]:
data['rating'].value_counts()

rating
4.0    93537
4.1     6296
4.2     5821
3.8     5736
3.9     5435
4.3     5011
3.7     4252
4.4     3148
3.5     2963
3.6     2924
3.4     1879
3.3     1801
4.5     1778
4.6     1334
3.2     1202
3.0      859
3.1      791
4.7      648
2.8      473
2.9      471
4.8      338
2.7      325
2.5      221
5.0      209
2.6      208
4.9      174
2.3      128
2.4      118
2.2       89
2.0       72
2.1       61
1.9       46
1.8       27
1.5       18
1.6       17
1.7       13
1.4       10
1.2        4
1.3        3
1.1        1
1.0        1
Name: count, dtype: int64

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148442 entries, 0 to 148441
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148442 non-null  int64
 1   name          148442 non-null  object
 2   city          148442 non-null  object
 3   rating        148442 non-null  float64
 4   rating_count  148442 non-null  int64
 5   cost          148442 non-null  int64
 6   cuisine       148442 non-null  object
 7   lic_no        148299 non-null  object
 8   link          148442 non-null  object
 9   address       148442 non-null  object
 10  menu          148442 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 12.5+ MB

In [67]:
data.isnull().sum()

id                0
name              0
city              0
rating            0
rating_count      0
cost              0
cuisine           0
lic_no          143
link              0
address           0
menu              0
dtype: int64

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148442 entries, 0 to 148441
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148442 non-null  int64
 1   name          148442 non-null  object
 2   city          148442 non-null  object
 3   rating        148442 non-null  float64
 4   rating_count  148442 non-null  int64
 5   cost          148442 non-null  int64
 6   cuisine       148442 non-null  object
 7   lic_no        148299 non-null  object
 8   link          148442 non-null  object
 9   address       148442 non-null  object
 10  menu          148442 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 12.5+ MB

In [69]:
data[data['lic_no'].isnull()]

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
795,301904,SHAKE IT BABY,Agra,4.0,10,200,"Italian,Beverages",NaN,https://www.swiggy.com/restaurants/shake-it-ba...,"SHAKE IT BABY, M/S SHAKE IT BABY SHOP NO-6 SUR...",Menu/301904.json
1299,358634,Meal Factory - By The Healthy Stove,"Vastrapur,Ahmedabad",4.0,10,300,Indian,NaN,https://www.swiggy.com/restaurants/meal-factor...,"Meal Factory - By The Healthy Stove, 'The Heal...",Menu/358634.json
1303,77532,Shiv Shakti Kathiyawadi,"Vastrapur,Ahmedabad",4.1,250,300,Indian,NaN,https://www.swiggy.com/restaurants/shiv-shakti...,"Shiv Shakti Kathiyawadi, 23-24, Ground Floor, ...",Menu/77532.json
4242,93703,Tomato'S,"Chandkheda,Ahmedabad",4.3,250,800,"Mexican,North Indian",NaN,https://www.swiggy.com/restaurants/tomatos-mot...,"Tomato'S, Ground Floor, Shop No. 1, Dwarkesh B...",Menu/93703.json
9893,3306,Taste of Darjeeling,"Koramangala,Bangalore",4.0,10,300,Chinese,NaN,https://www.swiggy.com/restaurants/taste-of-da...,"Taste of Darjeeling, H-14, 1st Main, 80 Feet R...",Menu/3306.json
...,...,...,...,...,...,...,...,...,...,...,...
143658,302775,The Fullmoon Cafe & Restro,Udaipur,2.6,35,150,Indian,NaN,https://www.swiggy.com/restaurants/the-fullmoo...,"The Fullmoon Cafe & Restro, 6 ka 16 Ram Singh ...",Menu/302775.json
145484,82562,Swagath Dine INN,Vellore,3.7,250,250,"Biryani,North Indian",NaN,https://www.swiggy.com/restaurants/swagath-din...,"Swagath Dine INN, Opp to VIT,VIT Main Road, Ve...",Menu/82562.json
146982,65981,Jagadhamba Fast Foods,"N A D,Vizag",3.5,35,200,"Chinese,Biryani",NaN,https://www.swiggy.com/restaurants/jagadhamba-...,"Jagadhamba Fast Foods, Opposite Kamala Nursing...",Menu/65981.json
147030,246351,WRAP IT - Eat Yummmm!,"Gajuwaka,Vizag",4.1,750,190,"Mexican,Fast Food",NaN,https://www.swiggy.com/restaurants/wrap-it-eat...,"WRAP IT - Eat Yummmm!, Door 16-246, Kitchen 1,...",Menu/246351.json
147072,66873,Friends Tandoori Point,"Gajuwaka,Vizag",4.0,10,200,"Indian,Tandoor",NaN,https://www.swiggy.com/restaurants/friends-tan...,"Friends Tandoori Point, Chaitanya Nagar, Gajuw...",Menu/66873.json

In [70]:
data['lic_no']= data['lic_no'].fillna(0)

In [71]:
data['lic_no'].isnull().sum()

np.int64(0)

In [72]:
data[data['lic_no'].isnull()]

Empty DataFrame
Columns: [id, name, city, rating, rating_count, cost, cuisine, lic_no, link, address, menu]
Index: []

In [73]:
data.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [74]:
data['city'].value_counts()

city
Bikaner                 1666
Noida-1                 1427
Indirapuram,Delhi       1279
BTM,Bangalore           1161
Rohini,Delhi            1135
                        ...
Alwarpet,Chennai           1
BBK_Chattarpur,Delhi       1
BBK_MayurVihar,Delhi       1
Hampi                      1
Manali                     1
Name: count, Length: 821, dtype: int64

In [75]:
data.shape

(148442, 11)

In [76]:
data.isnull().sum()

id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
lic_no          0
link            0
address         0
menu            0
dtype: int64

#### cleaned_csv data

In [77]:
data.to_csv('cleaned_data.csv',index = False)

In [78]:
data.describe()

                  id         rating   rating_count           cost
count  148442.000000  148442.000000  148442.000000  148442.000000
mean   363514.675139       3.956326     126.440563     287.598604
std    167882.864986       0.300492     430.360336     796.645176
min       211.000000       1.000000      10.000000       1.000000
25%    233524.500000       4.000000      10.000000     200.000000
50%    412706.500000       4.000000      10.000000     250.000000
75%    502250.500000       4.000000      75.000000     300.000000
max    581031.000000       5.000000   15000.000000  300350.000000

In [79]:
#data for encoding 
data_1 = data.drop(columns=['name', 'lic_no', 'link', 'address', 'menu'])

In [80]:
data_1

,id,city,rating,rating_count,cost,cuisine
0,567335,Abohar,4.0,10,200,"Beverages,Pizzas"
1,531342,Abohar,4.4,75,200,"Sweets,Bakery"
2,158203,Abohar,3.8,250,100,Beverages
3,187912,Abohar,3.7,35,250,"Fast Food,Indian"
4,543530,Abohar,4.0,10,250,"Italian-American,Fast Food"
...,...,...,...,...,...,...
148437,553122,Yavatmal,4.0,10,200,"Fast Food,Snacks"
148438,562647,Yavatmal,4.0,10,300,Pizzas
148439,559435,Yavatmal,4.0,10,300,"Fast Food,Snacks"
148440,418989,Yavatmal,4.0,10,250,Continental
148441,447770,Yavatmal,4.0,10,200,Pizzas

In [81]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148442 entries, 0 to 148441
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148442 non-null  int64
 1   city          148442 non-null  object
 2   rating        148442 non-null  float64
 3   rating_count  148442 non-null  int64
 4   cost          148442 non-null  int64
 5   cuisine       148442 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 6.8+ MB

In [82]:
data_1['city'].unique()

array(['Abohar', 'Adilabad', 'Adityapur', 'Adoni', 'Agartala', 'Agra',
       'Vastrapur,Ahmedabad', 'GOTA,Ahmedabad',
       'Paldi & Ambawadi,Ahmedabad', 'Ghatlodia,Ahmedabad',
       'Bopal,Ahmedabad', 'Gandhinagar,Ahmedabad', 'LalDarwaja,Ahmedabad',
       'Naranpura,Ahmedabad', 'Navrangpura,Ahmedabad',
       'Science City,Ahmedabad', 'Maninagar,Ahmedabad',
       'Chandkheda,Ahmedabad', 'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola',
       'Alappuzha', 'Aligarh', 'Alipurduar', 'Allahabad', 'Alwar',
       'Ambala', 'Ambikapur', 'Ambur', 'Amravati', 'Amreli', 'Amritsar',
       'Anand', 'Anantapur', 'Ankleshwar', 'Arakkonam', 'Arambagh',
       'Arrah', 'Aruppukottai', 'Asansol', 'Aurangabad',
       'Aurangabad_bihar', 'Azamgarh', 'Baddi', 'Bagalkot', 'Bagdogra',
       'Bahadurgarh', 'Bahraich', 'Balaghat', 'Balangir', 'Balasore',
       'Ballari', 'Balrampur', 'Balurghat', 'Banda',
       'Yeshwanthpur,Bangalore', 'Geddalahalli,Bangalore',
       'Koramangala,Bangalore', 'JP Nagar,Bangalore',
       'Mahadevpura,Bangalore', 'HSR,Bangalore', 'Arekere,Bangalore',
       'Indiranagar,Bangalore', 'Banashankari,Bangalore',
       'Whitefield,Bangalore', 'Nagavara & Hennur,Bangalore',
       'Kammanahalli/Kalyan Nagar,Bangalore',
       'Kumaraswamy Layout & Uttarahalli,Bangalore', 'BTM,Bangalore',
       'Battarahalli,Bangalore', 'Basaveshwaranagar,Bangalore',
       'Frazer Town,Bangalore', 'Sanjay Nagar, New BEL Road,Bangalore',
       'Yelahanka,Bangalore', 'Majestic,Bangalore',
       'Kanakapura Road,Bangalore', 'R.T. Nagar,Bangalore',
       'Kadugodi,Bangalore', 'Marathahalli,Bangalore',
       'Rajarajeshwari Nagar,Bangalore', 'CV Raman Nagar,Bangalore',
       'Electronic City,Bangalore', 'Rajajinagar,Bangalore',
       'Kadubeesanahalli,Bangalore', 'Shantinagar,Bangalore',
       'Jayanagar,Bangalore', 'Central Bangalore,Bangalore', 'Bantwal',
       'Bapatlachirala', 'Baramati', 'Baran', 'Bardhaman', 'Bardoli',
       'Bareilly', 'Barmer', 'Barnala', 'Barshi', 'Barwani', 'Basirhat',
       'Basti', 'Batala', 'Bathinda', 'Beawar', 'Beed', 'Begusarai',
       'Bela-pratapgarh', 'Belgaum', 'Berhampore', 'Berhampur', 'Bettiah',
       'Betul', 'Bhadohi', 'Bhadrachalam', 'Bhagalpur', 'Bhandara',
       'Bharabanki', 'Bharatpur', 'Bharuch', 'Bhatkal', 'Bhavnagar',
       'Bhawanipatna', 'Bhilai', 'Bhilwara', 'Bhimavaram', 'Bhind',
       'Bhiwadi', 'Bhiwani', 'Bhopal', 'Bhubaneswar', 'Bhuj', 'Bhusawal',
       'Bidar', 'Biharsharif', 'Bijapur', 'Bijnor', 'Bikaner', 'Bilaspur',
       'Bilimora', 'Bodhan-rural', 'Bodinayakanur', 'Boisar', 'Bokaro',
       'Bolpur', 'Bongaigaon', 'Bongaon', 'Budaun', 'Budhwal',
       'Bulandshahr', 'Buldana', 'Bundi', 'Burhanpur', 'Buxar',
       'Central-goa', 'Chakdaha', 'Chalakkudy', 'Chalisgaon', 'Chandausi',
       'Greater Mohali,Chandigarh', 'Zirakpur,Chandigarh',
       'East Chd,Chandigarh', 'North Mohali,Chandigarh',
       'South Mohali,Chandigarh', 'West Chd,Chandigarh',
       'Panchkula,Chandigarh', 'South Chd,Chandigarh', 'Chandrapur',
       'Changanassery', 'Chengannur', 'Poonamallee,Chennai',
       'OMR Navalur,Chennai', 'Mylapore,Chennai', 'Guindy,Chennai',
       'Annanagar,Chennai', 'Chrompet,Chennai', 'Urapakkam,Chennai',
       'George Town,Chennai', 'KK Nagar,Chennai', 'OMR Perungudi,Chennai',
       'Kilpauk,Chennai', 'Vadapalani,Chennai', 'Perambur,Chennai',
       'Royapettah,Chennai', 'Tambaram,Chennai', 'Padur,Chennai',
       'Velachery,Chennai', 'Nungambakkam,Chennai', 'Avadi,Chennai',
       'Porur,Chennai', 'Ramapuram,Chennai', 'Perumbakkam,Chennai',
       'ECR-Kottivakkam,Chennai', 'Egmore,Chennai', 'Arumbakkam,Chennai',
       'Madipakkam,Chennai', 'Ambattur,Chennai',
       'Mahindra World City,Chennai', 'Alwarpet,Chennai',
       'Mogappair,Chennai', 'Iyyapanthangal,Chennai',
       'Medavakkam,Chennai', 'Villivakkam,Chennai', 'Karappakam,Chennai',
       'Royapuram,Chennai', 'Adyar,Chennai', 'T Nagar,Chennai',
       'Purasawalkam,Chennai', 'Cherthala', 'Chhapra', 'Chhatarpur',
       'Chhindwara', 'Chidambaram', 'Chikhli', 'Chikkaballapur',
       'Chikmagalur', 'Chiplun', 'Chitradurga', 'Chittoor', 'Chittorgarh',
       'Chopda', 'Churu', 'Peelamedu,Coimbatore', 'Hopes,Coimbatore',
       'Race Course,Coimbatore', 'Sai Baba Colony,Coimbatore',
       'Gandhipuram,Coimbatore', 'Saravanampatti,Coimbatore',
       'Ramanathapuram,Coimbatore', 'Coi_Ganapathy,Coimbatore',
       'Cooch-behar', 'Cuddalore', 'Cuttack', 'Dahanu', 'Dahod', 'Daman',
       'Darbhanga', 'Darjeeling', 'Dausa', 'Davanagere',
       'Chukkuwala,Dehradun', 'Hathibarkala,Dehradun',
       'Race Course Dehradun,Dehradun', 'Jakhan,Dehradun', 'Dehri',
       'GTB Nagar,Delhi', 'Jasola,Delhi', 'Greater Noida,Delhi',
       'Mayur Vihar,Delhi', 'BBK_MayurVihar,Delhi', 'Laxmi Nagar,Delhi',
       'Punjabi Bagh,Delhi', 'Old Delhi,Delhi', 'Khan Market,Delhi',
       'Greater Kailash 2,Delhi', 'Ashok Vihar,Delhi',
       'Noida Expressway,Delhi', 'South Extension,Delhi',
       'Greater Kailash New,Delhi', 'Vasant Kunj,Delhi',
       'Uttam Nagar,Delhi', 'Dilshad Gardens,Delhi',
       'Connaught Place,Delhi', 'South Campus,Delhi', 'Rohini,Delhi',
       'BBK_Chattarpur,Delhi', 'Chattarpur,Delhi', 'Lajpat Nagar,Delhi',
       'Kirti Nagar,Delhi', 'Indirapuram,Delhi', 'Dwarka,Delhi',
       'Rajouri Garden,Delhi', 'NSP,Delhi', 'Malviya Nagar,Delhi',
       'Sector 18,Delhi', 'Deoghar', 'Dewas', 'Dhanbad', 'Dhar',
       'Dharamshala', 'Dharmapuri', 'Dharwad', 'Dhoraji', 'Dhule',
       'Dibrugarh', 'Dimapur', 'Dindigul', 'Diu', 'Doddaballapura',
       'Duliajan', 'Dumka', 'Durgapur', 'Eluru', 'Erode', 'Etawah',
       'Faizabad', 'Faridabad', 'Faridkot', 'Farrukhabad', 'Fatehabad',
       'Fatehgarh-sahib', 'Fatehpur', 'Fazilka', 'Firozabad', 'Firozpur',
       'Gadag-betigeri', 'Gadwal', 'Gandhidham', 'Gangapur-city',
       'Gangtok', 'Gauriganj', 'Gaya', 'Giridih', 'Godhra', 'Gokak',
       'Golaghat', 'Gonda', 'Gondal', 'Gondia', 'Gopalganj', 'Gorakhpur',
       'Gudivada', 'Guna', 'Guntakal', 'Guntur', 'Gurdaspur',
       'Greenfields_FBD,Gurgaon', 'Sector-14,Gurgaon',
       'Sector 15_FBD,Gurgaon', 'New DLF Phase 4,Gurgaon',
       'NIT_FBD,Gurgaon', 'New Sohna Road,Gurgaon',
       'Old Gurgaon (Zone 6),Gurgaon', 'sohna road,Gurgaon',
       'New Cyber City,Gurgaon', 'Paltan Bazaar,Guwahati',
       'Ganeshguri,Guwahati', 'Gwalior', 'Habra', 'Haldia', 'Haldwani',
       'Halol', 'Hampi', 'Hansi', 'Hanumangarh', 'Hapur', 'Hardoi',
       'Haridwar', 'Hassan', 'Himmatnagar', 'Hindaun', 'Hinganghat',
       'Hisar', 'Hoshangabad', 'Hoshiarpur', 'Hospet', 'Hubli',
       'Kompally,Hyderabad', 'Himayath Nagar,Hyderabad',
       'Jubilee Hills,Hyderabad', 'Kachiguda,Hyderabad',
       'Begumpet,Hyderabad', 'Kothapet & Dilsukhnagar,Hyderabad',
       'Lingampally & Nalagandla,Hyderabad', 'Balanagar & Idpl,Hyderabad',
       'Kondapur,Hyderabad', 'Ameerpet,Hyderabad',
       'Abids & Koti,Hyderabad', 'Banjara Hills,Hyderabad',
       'Gachibowli,Hyderabad', 'Suncity & Bandlaguda,Hyderabad',
       'Vanasthalipuram,Hyderabad', 'Nampally,Hyderabad',
       'Miyapur,Hyderabad', 'Manikonda,Hyderabad', 'Madhapur,Hyderabad',
       'Mehdipatnam,Hyderabad', 'Kharkhana & Trimulgherry,Hyderabad',
       'West Marredpally,Hyderabad',
       'Tarnaka, Nacharam & Malkajigiri,Hyderabad',
       'Santoshnagar & Saidabad,Hyderabad', 'Alwal,Hyderabad',
       'Padmarao Nagar,Hyderabad', 'Kukatpally,Hyderabad',
       'Nizampet & Pragathi Nagar,Hyderabad', 'Tolichowki,Hyderabad',
       'Nanakramguda,Hyderabad', 'Attapur,Hyderabad', 'Ichalkaranji',
       'Imphal', 'Sarafa,Indore', 'Vijay Nagar,Indore',
       'South Tukoganj,Indore', 'Bhawar Kuan,Indore',
       'Old Palasia,Indore', 'New Palasia,Indore', 'Irinjalakuda',
       'Itanagar', 'Itarsi', 'Jabalpur', 'Jagdalpur', 'Jagraon',
       'Jagtial', 'Jahanabad', 'Manasarovar,Jaipur', 'Jalaun', 'Jalgaon',
       'Jalpaiguri', 'Jammu', 'Jamnagar', 'Jamshedpur', 'Jaunpur',
       'Jhalawar', 'Jhansi', 'Jhargram', 'Jhunjhunu', 'Jind', 'Jodhpur',
       'Jorhat', 'Junagadh', 'Kadapa', 'Kadayanallur', 'Kadiri',
       'Kaithal', 'Kakinada', 'Kalaburagi', 'Kalady', 'Kamareddy',
       'Kanchrapara', 'Kannauj', 'Kannur', 'Kanpur', 'Kanyakumari',
       'Kapurthala', 'Karad', 'Karaikkudi', 'Karimnagar', 'Karnal',
       'Karunagappaly', 'Karur', 'Karwar', 'Kasaragod', 'Kashipur',
       'Katihar', 'Katni', 'Kavali', 'Kayamkulam', 'Kendujhar',
       'Khamgaon', 'Khammam', 'Khandwa', 'Khanna', 'Kharagpur',
       'Kishanganj', 'Kishangarh', 'Vyttila,Kochi', 'Kalamassery,Kochi',
       'Aluva,Kochi', 'Panampilly Nagar,Kochi', 'Lulu Mall,Kochi',
       'Fort Kochi,Kochi', 'Thrippunithura,Kochi', 'Kodaikanal', 'Kohima',
       'Kolar', 'Kolhapur', 'Howrah,Kolkata', 'South Kolkata,Kolkata',
       'Rajarhat,Kolkata', 'Burrabazar,Kolkata', 'North Dumdum,Kolkata',
       'Chinar Park,Kolkata', 'Kestopur,Kolkata', 'Kidderpore,Kolkata',
       'Salt Lake,Kolkata', 'Ruby Area,Kolkata', 'Santoshpur,Kolkata',
       'Bally,Kolkata', 'Central Kolkata,Kolkata', 'Garia,Kolkata',
       'Tangra,Kolkata', 'Esplanade,Kolkata', 'Kankurgachi,Kolkata',
       'Naktala,Kolkata', 'Behala,Kolkata', 'Alipore,Kolkata',
       'Lake Town,Kolkata', 'Dumdum,Kolkata', 'Jadavpur,Kolkata',
       'Thakurpukur,Kolkata', 'Hatibagan,Kolkata', 'Kollam', 'Kopargaon',
       'Koppal', 'Korba', 'Kota', 'Kotdwar', 'Kothagudem',
       'Kothamanagalam', 'Kottakkal', 'Kottarakkara', 'Kottayam',
       'Kovilpatti', 'Kozhikode', 'Krishnagiri', 'Krishnanagar',
       'Kumarakom', 'Kumbakonam', 'Kumta', 'Kundapura', 'Kunnamkullam',
       'Kurnool', 'Kurukshetra', 'Lakhimpur', 'Lalitpur', 'Latur',
       'Lonavala', 'Lonavla', 'Gomti Nagar,Lucknow', 'Hazratganj,Lucknow',
       'Bbd,Lucknow', 'Ashiyana,Lucknow', 'Aminabad,Lucknow',
       'Aliganj,Lucknow', 'Alambagh,Lucknow', 'Indira Nagar,Lucknow',
       'Civil Lines,Ludhiana', 'BRS Nagar,Ludhiana',
       'Model Town,Ludhiana', 'Dugri,Ludhiana', 'Machilipatnam',
       'Madanapalle', 'Madhubani', 'Madikeri', 'Madurai', 'Mahbubnagar',
       'Malappuram', 'Malda', 'Malegaon', 'Malout', 'Manali',
       'Mancherial', 'Mandi-dabwali', 'Mandi-gobindgarh', 'Mandsaur',
       'Mandya', 'Mangaluru', 'Manipal', 'Manjeri', 'Mansa', 'Markapur',
       'Mathura', 'Maunath-bhanjan', 'Mayiladuthurai', 'Medinipur',
       'Meerut', 'Mehsana', 'Miryalaguda', 'Mirzapur', 'Modinagar',
       'Moga', 'Moodbidri', 'Moradabad', 'Morbi', 'Morena', 'Motihari',
       'Mount-abu', 'Mughalsarai', 'Muktsar', 'Virar,Mumbai',
       'Powai,Mumbai', 'Kamothe,Mumbai', 'Mulund,Mumbai',
       'Mahalaxmi Malabar Hill,Mumbai', 'Vashi,Mumbai',
       'Bandra West,Mumbai', 'Scruz Bandra East,Mumbai',
       'Fort Colaba,Mumbai', 'Bhayandar,Mumbai', 'Mahim Dadar,Mumbai',
       'Starbucks_BKC,Mumbai', 'Vasai,Mumbai', 'Matunga Wadala,Mumbai',
       'Airoli,Mumbai', 'Munger', 'Murshidabad', 'Mussoorie',
       'Muvattupuzha', 'Muzaffarnagar', 'Muzaffarpur',
       'Mysore North,Mysore', 'Mysore South,Mysore', 'Nabadwip', 'Nadiad',
       'Nagaon', 'Nagapattinam', 'Nagda', 'Nagercoil',
       'Dharampeth,Nagpur', 'Nandanvan,Nagpur', 'Sitabuldi,Nagpur',
       'Gandhibagh,Nagpur', 'Bajaj Nagar,Nagpur', 'Manish Nagar,Nagpur',
       'Sadar,Nagpur', 'Wardha Road,Nagpur', 'Naharlagun', 'Nainital',
       'Nalgonda', 'Namakkal', 'Nanded', 'Nandurbar', 'Nandyal', 'Nangal',
       'Naraingarh', 'Narasaraopet', 'Narnaul', 'Narsinghpur', 'Navsari',
       'Neemuch', 'Nellore', 'Neyveli', 'Nipani', 'Nirmal', 'Nizamabad',
       'Raj Nagar,Noida', 'Noida-1', 'North-goa', 'Ongole', 'Ooty',
       'Orai', 'Osmanabad', 'Pala', 'Palakkad', 'Palampur', 'Palani',
       'Palanpur', 'Pali', 'Panipat', 'Parbhani', 'Pathankot', 'Patiala',
       'Patna', 'Perinthalmanna', 'Phagwara', 'Pilibhit', 'Pondicherry',
       'Porbandar', 'Proddatur', 'Pudukkottai', 'Wanowrie,Pune',
       'Koregaon Park,Pune', 'Hadapsar,Pune', 'Warje,Pune',
       'Pimple Saudagar,Pune', 'Kothrud,Pune', 'Vishrantwadi,Pune',
       'Sangvi,Pune', 'Bibwewadi,Pune', 'Wakad,Pune', 'Kondhwa,Pune',
       'Swargate,Pune', 'Nigdi,Pune', 'Bavdhan,Pune', 'Bhosari,Pune',
       'Sinhgad Road,Pune', 'Wagholi,Pune', 'Narhe,Pune',
       'Hinjewadi,Pune', 'Bopodi,Pune', 'PCMC,Pune', 'Dhankawadi,Pune',
       'Viman Nagar,Pune', 'Aundh,Pune', 'Kalyani Nagar,Pune',
       'Kharadi,Pune', 'Shivaji Nagar,Pune', 'Hinjewadi Phase-3,Pune',
       'Baner,Pune', 'Magarpatta,Pune', 'Puri', 'Purnea', 'Purulia',
       'Pusad', 'Puttur', 'Rae-bareli', 'Raghunathpur', 'Raichur',
       'Raiganj', 'Raigarh', 'Raipur', 'Rajahmundry', 'Rajapalayam',
       'Rajkot', 'Rajnandgaon', 'Rajsamand', 'Ramagundam', 'Ramanagara',
       'Ramanathapuram', 'Rampur', 'Ranaghat-wb', 'Ranchi', 'Rangpo',
       'Ranibennur', 'Raniganj', 'Ratlam', 'Ratnagiri', 'Rayachoty',
       'Rewa', 'Rewari', 'Rishikesh', 'Rohtak', 'Roorkee', 'Ropar',
       'Rourkela', 'Rudrapur', 'Sagar', 'Saharanpur', 'Saharsa', 'Salem',
       'Samastipur', 'Sambalpur', 'Sangamner', 'Sangli', 'Sangrur',
       'Sasaram', 'Satara', 'Satna', 'Sawai-madhopur', 'Sehore',
       'Shahjahanpur', 'Shikohabad', 'Shillong', 'Shimla', 'Shivamogga',
       'Shivpuri', 'Shrirampur', 'Siddipet', 'Sikar', 'Silchar',
       'Siliguri', 'Silvassa', 'Sindhanur', 'Singrauli', 'Sirsa', 'Sirsi',
       'Sitapur', 'Sivakasi', 'Sivasagar', 'Siwan', 'Solan', 'Solapur',
       'Sonipat', 'South-goa', 'Sri-ganganagar', 'Srikakulam',
       'Srivilliputhur', 'Sultanpur', 'Athwa,Surat', 'Adajan,Surat',
       'Piplod,Surat', 'Suratgarh', 'Surendranagar-dudhrej', 'Suryapet',
       'Tadepalligudem', 'Tadpatri', 'Tanuku', 'Tarn-taran-sahib',
       'Tenkasi', 'Tezpur', 'Thalassery', 'Thanjavur', 'Theni',
       'Thiruvalla', 'Thiruvallur', 'Thiruvananthapuram', 'Thiruvarur',
       'Thodupuzha', 'Thoothukudi', 'Thrissur', 'Tinsukia', 'Tiptur',
       'Tirunelveli', 'Tirupati', 'Tirupur', 'Tiruvannamalai', 'Tohana',
       'Trichy', 'Tumakuru', 'Tuni', 'Udaipur', 'Udgir', 'Ujjain',
       'Uluberia', 'Uran-islampur', 'Akota,Vadodara', 'Alkapuri,Vadodara',
       'Vadiwadi,Vadodara', 'Valsad', 'Vapi', 'Varanasi', 'Varkala',
       'Vellore', 'Veraval', 'Vidisha',
       'Benz Circle and Auto Nagar,Vijayawada', 'Governorpet,Vijayawada',
       'Virudhunagar', 'Visnagar', 'N A D,Vizag', 'Gajuwaka,Vizag',
       'Jagadamba Junction,Vizag', 'MVP Colony,Vizag',
       'Dwarka Nagar,Vizag', 'Vizianagaram', 'Vyara', 'Waidhan',
       'Warangal', 'Wardha', 'Washim', 'Yamuna-nagar', 'Yavatmal'],
      dtype=object)

In [83]:
data_1[data_1['city'].str.count(',') == 0]

,id,city,rating,rating_count,cost,cuisine
0,567335,Abohar,4.0,10,200,"Beverages,Pizzas"
1,531342,Abohar,4.4,75,200,"Sweets,Bakery"
2,158203,Abohar,3.8,250,100,Beverages
3,187912,Abohar,3.7,35,250,"Fast Food,Indian"
4,543530,Abohar,4.0,10,250,"Italian-American,Fast Food"
...,...,...,...,...,...,...
148437,553122,Yavatmal,4.0,10,200,"Fast Food,Snacks"
148438,562647,Yavatmal,4.0,10,300,Pizzas
148439,559435,Yavatmal,4.0,10,300,"Fast Food,Snacks"
148440,418989,Yavatmal,4.0,10,250,Continental
148441,447770,Yavatmal,4.0,10,200,Pizzas

In [84]:
data_1[data_1['city'].str.count(',') == 0].city.nunique()

527

In [85]:
data_1[data_1['city'].str.count(',') == 0].city.unique()

array(['Abohar', 'Adilabad', 'Adityapur', 'Adoni', 'Agartala', 'Agra',
       'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola', 'Alappuzha', 'Aligarh',
       'Alipurduar', 'Allahabad', 'Alwar', 'Ambala', 'Ambikapur', 'Ambur',
       'Amravati', 'Amreli', 'Amritsar', 'Anand', 'Anantapur',
       'Ankleshwar', 'Arakkonam', 'Arambagh', 'Arrah', 'Aruppukottai',
       'Asansol', 'Aurangabad', 'Aurangabad_bihar', 'Azamgarh', 'Baddi',
       'Bagalkot', 'Bagdogra', 'Bahadurgarh', 'Bahraich', 'Balaghat',
       'Balangir', 'Balasore', 'Ballari', 'Balrampur', 'Balurghat',
       'Banda', 'Bantwal', 'Bapatlachirala', 'Baramati', 'Baran',
       'Bardhaman', 'Bardoli', 'Bareilly', 'Barmer', 'Barnala', 'Barshi',
       'Barwani', 'Basirhat', 'Basti', 'Batala', 'Bathinda', 'Beawar',
       'Beed', 'Begusarai', 'Bela-pratapgarh', 'Belgaum', 'Berhampore',
       'Berhampur', 'Bettiah', 'Betul', 'Bhadohi', 'Bhadrachalam',
       'Bhagalpur', 'Bhandara', 'Bharabanki', 'Bharatpur', 'Bharuch',
       'Bhatkal', 'Bhavnagar', 'Bhawanipatna', 'Bhilai', 'Bhilwara',
       'Bhimavaram', 'Bhind', 'Bhiwadi', 'Bhiwani', 'Bhopal',
       'Bhubaneswar', 'Bhuj', 'Bhusawal', 'Bidar', 'Biharsharif',
       'Bijapur', 'Bijnor', 'Bikaner', 'Bilaspur', 'Bilimora',
       'Bodhan-rural', 'Bodinayakanur', 'Boisar', 'Bokaro', 'Bolpur',
       'Bongaigaon', 'Bongaon', 'Budaun', 'Budhwal', 'Bulandshahr',
       'Buldana', 'Bundi', 'Burhanpur', 'Buxar', 'Central-goa',
       'Chakdaha', 'Chalakkudy', 'Chalisgaon', 'Chandausi', 'Chandrapur',
       'Changanassery', 'Chengannur', 'Cherthala', 'Chhapra',
       'Chhatarpur', 'Chhindwara', 'Chidambaram', 'Chikhli',
       'Chikkaballapur', 'Chikmagalur', 'Chiplun', 'Chitradurga',
       'Chittoor', 'Chittorgarh', 'Chopda', 'Churu', 'Cooch-behar',
       'Cuddalore', 'Cuttack', 'Dahanu', 'Dahod', 'Daman', 'Darbhanga',
       'Darjeeling', 'Dausa', 'Davanagere', 'Dehri', 'Deoghar', 'Dewas',
       'Dhanbad', 'Dhar', 'Dharamshala', 'Dharmapuri', 'Dharwad',
       'Dhoraji', 'Dhule', 'Dibrugarh', 'Dimapur', 'Dindigul', 'Diu',
       'Doddaballapura', 'Duliajan', 'Dumka', 'Durgapur', 'Eluru',
       'Erode', 'Etawah', 'Faizabad', 'Faridabad', 'Faridkot',
       'Farrukhabad', 'Fatehabad', 'Fatehgarh-sahib', 'Fatehpur',
       'Fazilka', 'Firozabad', 'Firozpur', 'Gadag-betigeri', 'Gadwal',
       'Gandhidham', 'Gangapur-city', 'Gangtok', 'Gauriganj', 'Gaya',
       'Giridih', 'Godhra', 'Gokak', 'Golaghat', 'Gonda', 'Gondal',
       'Gondia', 'Gopalganj', 'Gorakhpur', 'Gudivada', 'Guna', 'Guntakal',
       'Guntur', 'Gurdaspur', 'Gwalior', 'Habra', 'Haldia', 'Haldwani',
       'Halol', 'Hampi', 'Hansi', 'Hanumangarh', 'Hapur', 'Hardoi',
       'Haridwar', 'Hassan', 'Himmatnagar', 'Hindaun', 'Hinganghat',
       'Hisar', 'Hoshangabad', 'Hoshiarpur', 'Hospet', 'Hubli',
       'Ichalkaranji', 'Imphal', 'Irinjalakuda', 'Itanagar', 'Itarsi',
       'Jabalpur', 'Jagdalpur', 'Jagraon', 'Jagtial', 'Jahanabad',
       'Jalaun', 'Jalgaon', 'Jalpaiguri', 'Jammu', 'Jamnagar',
       'Jamshedpur', 'Jaunpur', 'Jhalawar', 'Jhansi', 'Jhargram',
       'Jhunjhunu', 'Jind', 'Jodhpur', 'Jorhat', 'Junagadh', 'Kadapa',
       'Kadayanallur', 'Kadiri', 'Kaithal', 'Kakinada', 'Kalaburagi',
       'Kalady', 'Kamareddy', 'Kanchrapara', 'Kannauj', 'Kannur',
       'Kanpur', 'Kanyakumari', 'Kapurthala', 'Karad', 'Karaikkudi',
       'Karimnagar', 'Karnal', 'Karunagappaly', 'Karur', 'Karwar',
       'Kasaragod', 'Kashipur', 'Katihar', 'Katni', 'Kavali',
       'Kayamkulam', 'Kendujhar', 'Khamgaon', 'Khammam', 'Khandwa',
       'Khanna', 'Kharagpur', 'Kishanganj', 'Kishangarh', 'Kodaikanal',
       'Kohima', 'Kolar', 'Kolhapur', 'Kollam', 'Kopargaon', 'Koppal',
       'Korba', 'Kota', 'Kotdwar', 'Kothagudem', 'Kothamanagalam',
       'Kottakkal', 'Kottarakkara', 'Kottayam', 'Kovilpatti', 'Kozhikode',
       'Krishnagiri', 'Krishnanagar', 'Kumarakom', 'Kumbakonam', 'Kumta',
       'Kundapura', 'Kunnamkullam', 'Kurnool', 'Kurukshetra', 'Lakhimpur',
       'Lalitpur', 'Latur', 'Lonavala', 'Lonavla', 'Machilipatnam',
       'Madanapalle', 'Madhubani', 'Madikeri', 'Madurai', 'Mahbubnagar',
       'Malappuram', 'Malda', 'Malegaon', 'Malout', 'Manali',
       'Mancherial', 'Mandi-dabwali', 'Mandi-gobindgarh', 'Mandsaur',
       'Mandya', 'Mangaluru', 'Manipal', 'Manjeri', 'Mansa', 'Markapur',
       'Mathura', 'Maunath-bhanjan', 'Mayiladuthurai', 'Medinipur',
       'Meerut', 'Mehsana', 'Miryalaguda', 'Mirzapur', 'Modinagar',
       'Moga', 'Moodbidri', 'Moradabad', 'Morbi', 'Morena', 'Motihari',
       'Mount-abu', 'Mughalsarai', 'Muktsar', 'Munger', 'Murshidabad',
       'Mussoorie', 'Muvattupuzha', 'Muzaffarnagar', 'Muzaffarpur',
       'Nabadwip', 'Nadiad', 'Nagaon', 'Nagapattinam', 'Nagda',
       'Nagercoil', 'Naharlagun', 'Nainital', 'Nalgonda', 'Namakkal',
       'Nanded', 'Nandurbar', 'Nandyal', 'Nangal', 'Naraingarh',
       'Narasaraopet', 'Narnaul', 'Narsinghpur', 'Navsari', 'Neemuch',
       'Nellore', 'Neyveli', 'Nipani', 'Nirmal', 'Nizamabad', 'Noida-1',
       'North-goa', 'Ongole', 'Ooty', 'Orai', 'Osmanabad', 'Pala',
       'Palakkad', 'Palampur', 'Palani', 'Palanpur', 'Pali', 'Panipat',
       'Parbhani', 'Pathankot', 'Patiala', 'Patna', 'Perinthalmanna',
       'Phagwara', 'Pilibhit', 'Pondicherry', 'Porbandar', 'Proddatur',
       'Pudukkottai', 'Puri', 'Purnea', 'Purulia', 'Pusad', 'Puttur',
       'Rae-bareli', 'Raghunathpur', 'Raichur', 'Raiganj', 'Raigarh',
       'Raipur', 'Rajahmundry', 'Rajapalayam', 'Rajkot', 'Rajnandgaon',
       'Rajsamand', 'Ramagundam', 'Ramanagara', 'Ramanathapuram',
       'Rampur', 'Ranaghat-wb', 'Ranchi', 'Rangpo', 'Ranibennur',
       'Raniganj', 'Ratlam', 'Ratnagiri', 'Rayachoty', 'Rewa', 'Rewari',
       'Rishikesh', 'Rohtak', 'Roorkee', 'Ropar', 'Rourkela', 'Rudrapur',
       'Sagar', 'Saharanpur', 'Saharsa', 'Salem', 'Samastipur',
       'Sambalpur', 'Sangamner', 'Sangli', 'Sangrur', 'Sasaram', 'Satara',
       'Satna', 'Sawai-madhopur', 'Sehore', 'Shahjahanpur', 'Shikohabad',
       'Shillong', 'Shimla', 'Shivamogga', 'Shivpuri', 'Shrirampur',
       'Siddipet', 'Sikar', 'Silchar', 'Siliguri', 'Silvassa',
       'Sindhanur', 'Singrauli', 'Sirsa', 'Sirsi', 'Sitapur', 'Sivakasi',
       'Sivasagar', 'Siwan', 'Solan', 'Solapur', 'Sonipat', 'South-goa',
       'Sri-ganganagar', 'Srikakulam', 'Srivilliputhur', 'Sultanpur',
       'Suratgarh', 'Surendranagar-dudhrej', 'Suryapet', 'Tadepalligudem',
       'Tadpatri', 'Tanuku', 'Tarn-taran-sahib', 'Tenkasi', 'Tezpur',
       'Thalassery', 'Thanjavur', 'Theni', 'Thiruvalla', 'Thiruvallur',
       'Thiruvananthapuram', 'Thiruvarur', 'Thodupuzha', 'Thoothukudi',
       'Thrissur', 'Tinsukia', 'Tiptur', 'Tirunelveli', 'Tirupati',
       'Tirupur', 'Tiruvannamalai', 'Tohana', 'Trichy', 'Tumakuru',
       'Tuni', 'Udaipur', 'Udgir', 'Ujjain', 'Uluberia', 'Uran-islampur',
       'Valsad', 'Vapi', 'Varanasi', 'Varkala', 'Vellore', 'Veraval',
       'Vidisha', 'Virudhunagar', 'Visnagar', 'Vizianagaram', 'Vyara',
       'Waidhan', 'Warangal', 'Wardha', 'Washim', 'Yamuna-nagar',
       'Yavatmal'], dtype=object)

In [86]:
data_1[data_1['city'].str.count(',') == 1]

,id,city,rating,rating_count,cost,cuisine
1100,40184,"Vastrapur,Ahmedabad",4.3,250,1200,"Indian,Chinese"
1101,45635,"Vastrapur,Ahmedabad",4.0,250,150,Fast Food
1102,483947,"Vastrapur,Ahmedabad",4.0,10,300,"Chinese,Fast Food"
1103,483946,"Vastrapur,Ahmedabad",4.0,10,300,Chinese
1104,181107,"Vastrapur,Ahmedabad",4.0,10,350,Desserts
...,...,...,...,...,...,...
147919,510818,"Dwarka Nagar,Vizag",4.0,10,200,"North Indian,Chinese"
147920,554832,"Dwarka Nagar,Vizag",4.1,35,250,"Sweets,Snacks"
147921,365893,"Dwarka Nagar,Vizag",4.0,250,250,"Beverages,Desserts"
147922,456123,"Dwarka Nagar,Vizag",3.4,35,300,"Biryani,North Indian"
147923,455038,"Dwarka Nagar,Vizag",4.0,10,200,"Biryani,Indian"

In [87]:
data_1[data_1['city'].str.count(',') == 1].city.nunique()

292

In [88]:
data_1[data_1['city'].str.count(',') == 1].city.unique()

array(['Vastrapur,Ahmedabad', 'GOTA,Ahmedabad',
       'Paldi & Ambawadi,Ahmedabad', 'Ghatlodia,Ahmedabad',
       'Bopal,Ahmedabad', 'Gandhinagar,Ahmedabad', 'LalDarwaja,Ahmedabad',
       'Naranpura,Ahmedabad', 'Navrangpura,Ahmedabad',
       'Science City,Ahmedabad', 'Maninagar,Ahmedabad',
       'Chandkheda,Ahmedabad', 'Yeshwanthpur,Bangalore',
       'Geddalahalli,Bangalore', 'Koramangala,Bangalore',
       'JP Nagar,Bangalore', 'Mahadevpura,Bangalore', 'HSR,Bangalore',
       'Arekere,Bangalore', 'Indiranagar,Bangalore',
       'Banashankari,Bangalore', 'Whitefield,Bangalore',
       'Nagavara & Hennur,Bangalore',
       'Kammanahalli/Kalyan Nagar,Bangalore',
       'Kumaraswamy Layout & Uttarahalli,Bangalore', 'BTM,Bangalore',
       'Battarahalli,Bangalore', 'Basaveshwaranagar,Bangalore',
       'Frazer Town,Bangalore', 'Yelahanka,Bangalore',
       'Majestic,Bangalore', 'Kanakapura Road,Bangalore',
       'R.T. Nagar,Bangalore', 'Kadugodi,Bangalore',
       'Marathahalli,Bangalore', 'Rajarajeshwari Nagar,Bangalore',
       'CV Raman Nagar,Bangalore', 'Electronic City,Bangalore',
       'Rajajinagar,Bangalore', 'Kadubeesanahalli,Bangalore',
       'Shantinagar,Bangalore', 'Jayanagar,Bangalore',
       'Central Bangalore,Bangalore', 'Greater Mohali,Chandigarh',
       'Zirakpur,Chandigarh', 'East Chd,Chandigarh',
       'North Mohali,Chandigarh', 'South Mohali,Chandigarh',
       'West Chd,Chandigarh', 'Panchkula,Chandigarh',
       'South Chd,Chandigarh', 'Poonamallee,Chennai',
       'OMR Navalur,Chennai', 'Mylapore,Chennai', 'Guindy,Chennai',
       'Annanagar,Chennai', 'Chrompet,Chennai', 'Urapakkam,Chennai',
       'George Town,Chennai', 'KK Nagar,Chennai', 'OMR Perungudi,Chennai',
       'Kilpauk,Chennai', 'Vadapalani,Chennai', 'Perambur,Chennai',
       'Royapettah,Chennai', 'Tambaram,Chennai', 'Padur,Chennai',
       'Velachery,Chennai', 'Nungambakkam,Chennai', 'Avadi,Chennai',
       'Porur,Chennai', 'Ramapuram,Chennai', 'Perumbakkam,Chennai',
       'ECR-Kottivakkam,Chennai', 'Egmore,Chennai', 'Arumbakkam,Chennai',
       'Madipakkam,Chennai', 'Ambattur,Chennai',
       'Mahindra World City,Chennai', 'Alwarpet,Chennai',
       'Mogappair,Chennai', 'Iyyapanthangal,Chennai',
       'Medavakkam,Chennai', 'Villivakkam,Chennai', 'Karappakam,Chennai',
       'Royapuram,Chennai', 'Adyar,Chennai', 'T Nagar,Chennai',
       'Purasawalkam,Chennai', 'Peelamedu,Coimbatore', 'Hopes,Coimbatore',
       'Race Course,Coimbatore', 'Sai Baba Colony,Coimbatore',
       'Gandhipuram,Coimbatore', 'Saravanampatti,Coimbatore',
       'Ramanathapuram,Coimbatore', 'Coi_Ganapathy,Coimbatore',
       'Chukkuwala,Dehradun', 'Hathibarkala,Dehradun',
       'Race Course Dehradun,Dehradun', 'Jakhan,Dehradun',
       'GTB Nagar,Delhi', 'Jasola,Delhi', 'Greater Noida,Delhi',
       'Mayur Vihar,Delhi', 'BBK_MayurVihar,Delhi', 'Laxmi Nagar,Delhi',
       'Punjabi Bagh,Delhi', 'Old Delhi,Delhi', 'Khan Market,Delhi',
       'Greater Kailash 2,Delhi', 'Ashok Vihar,Delhi',
       'Noida Expressway,Delhi', 'South Extension,Delhi',
       'Greater Kailash New,Delhi', 'Vasant Kunj,Delhi',
       'Uttam Nagar,Delhi', 'Dilshad Gardens,Delhi',
       'Connaught Place,Delhi', 'South Campus,Delhi', 'Rohini,Delhi',
       'BBK_Chattarpur,Delhi', 'Chattarpur,Delhi', 'Lajpat Nagar,Delhi',
       'Kirti Nagar,Delhi', 'Indirapuram,Delhi', 'Dwarka,Delhi',
       'Rajouri Garden,Delhi', 'NSP,Delhi', 'Malviya Nagar,Delhi',
       'Sector 18,Delhi', 'Greenfields_FBD,Gurgaon', 'Sector-14,Gurgaon',
       'Sector 15_FBD,Gurgaon', 'New DLF Phase 4,Gurgaon',
       'NIT_FBD,Gurgaon', 'New Sohna Road,Gurgaon',
       'Old Gurgaon (Zone 6),Gurgaon', 'sohna road,Gurgaon',
       'New Cyber City,Gurgaon', 'Paltan Bazaar,Guwahati',
       'Ganeshguri,Guwahati', 'Kompally,Hyderabad',
       'Himayath Nagar,Hyderabad', 'Jubilee Hills,Hyderabad',
       'Kachiguda,Hyderabad', 'Begumpet,Hyderabad',
       'Kothapet & Dilsukhnagar,Hyderabad',
       'Lingampally & Nalagandla,Hyderabad', 'Balanagar & Idpl,Hyderabad',
       'Kondapur,Hyderabad', 'Ameerpet,Hyderabad',
       'Abids & Koti,Hyderabad', 'Banjara Hills,Hyderabad',
       'Gachibowli,Hyderabad', 'Suncity & Bandlaguda,Hyderabad',
       'Vanasthalipuram,Hyderabad', 'Nampally,Hyderabad',
       'Miyapur,Hyderabad', 'Manikonda,Hyderabad', 'Madhapur,Hyderabad',
       'Mehdipatnam,Hyderabad', 'Kharkhana & Trimulgherry,Hyderabad',
       'West Marredpally,Hyderabad', 'Santoshnagar & Saidabad,Hyderabad',
       'Alwal,Hyderabad', 'Padmarao Nagar,Hyderabad',
       'Kukatpally,Hyderabad', 'Nizampet & Pragathi Nagar,Hyderabad',
       'Tolichowki,Hyderabad', 'Nanakramguda,Hyderabad',
       'Attapur,Hyderabad', 'Sarafa,Indore', 'Vijay Nagar,Indore',
       'South Tukoganj,Indore', 'Bhawar Kuan,Indore',
       'Old Palasia,Indore', 'New Palasia,Indore', 'Manasarovar,Jaipur',
       'Vyttila,Kochi', 'Kalamassery,Kochi', 'Aluva,Kochi',
       'Panampilly Nagar,Kochi', 'Lulu Mall,Kochi', 'Fort Kochi,Kochi',
       'Thrippunithura,Kochi', 'Howrah,Kolkata', 'South Kolkata,Kolkata',
       'Rajarhat,Kolkata', 'Burrabazar,Kolkata', 'North Dumdum,Kolkata',
       'Chinar Park,Kolkata', 'Kestopur,Kolkata', 'Kidderpore,Kolkata',
       'Salt Lake,Kolkata', 'Ruby Area,Kolkata', 'Santoshpur,Kolkata',
       'Bally,Kolkata', 'Central Kolkata,Kolkata', 'Garia,Kolkata',
       'Tangra,Kolkata', 'Esplanade,Kolkata', 'Kankurgachi,Kolkata',
       'Naktala,Kolkata', 'Behala,Kolkata', 'Alipore,Kolkata',
       'Lake Town,Kolkata', 'Dumdum,Kolkata', 'Jadavpur,Kolkata',
       'Thakurpukur,Kolkata', 'Hatibagan,Kolkata', 'Gomti Nagar,Lucknow',
       'Hazratganj,Lucknow', 'Bbd,Lucknow', 'Ashiyana,Lucknow',
       'Aminabad,Lucknow', 'Aliganj,Lucknow', 'Alambagh,Lucknow',
       'Indira Nagar,Lucknow', 'Civil Lines,Ludhiana',
       'BRS Nagar,Ludhiana', 'Model Town,Ludhiana', 'Dugri,Ludhiana',
       'Virar,Mumbai', 'Powai,Mumbai', 'Kamothe,Mumbai', 'Mulund,Mumbai',
       'Mahalaxmi Malabar Hill,Mumbai', 'Vashi,Mumbai',
       'Bandra West,Mumbai', 'Scruz Bandra East,Mumbai',
       'Fort Colaba,Mumbai', 'Bhayandar,Mumbai', 'Mahim Dadar,Mumbai',
       'Starbucks_BKC,Mumbai', 'Vasai,Mumbai', 'Matunga Wadala,Mumbai',
       'Airoli,Mumbai', 'Mysore North,Mysore', 'Mysore South,Mysore',
       'Dharampeth,Nagpur', 'Nandanvan,Nagpur', 'Sitabuldi,Nagpur',
       'Gandhibagh,Nagpur', 'Bajaj Nagar,Nagpur', 'Manish Nagar,Nagpur',
       'Sadar,Nagpur', 'Wardha Road,Nagpur', 'Raj Nagar,Noida',
       'Wanowrie,Pune', 'Koregaon Park,Pune', 'Hadapsar,Pune',
       'Warje,Pune', 'Pimple Saudagar,Pune', 'Kothrud,Pune',
       'Vishrantwadi,Pune', 'Sangvi,Pune', 'Bibwewadi,Pune', 'Wakad,Pune',
       'Kondhwa,Pune', 'Swargate,Pune', 'Nigdi,Pune', 'Bavdhan,Pune',
       'Bhosari,Pune', 'Sinhgad Road,Pune', 'Wagholi,Pune', 'Narhe,Pune',
       'Hinjewadi,Pune', 'Bopodi,Pune', 'PCMC,Pune', 'Dhankawadi,Pune',
       'Viman Nagar,Pune', 'Aundh,Pune', 'Kalyani Nagar,Pune',
       'Kharadi,Pune', 'Shivaji Nagar,Pune', 'Hinjewadi Phase-3,Pune',
       'Baner,Pune', 'Magarpatta,Pune', 'Athwa,Surat', 'Adajan,Surat',
       'Piplod,Surat', 'Akota,Vadodara', 'Alkapuri,Vadodara',
       'Vadiwadi,Vadodara', 'Benz Circle and Auto Nagar,Vijayawada',
       'Governorpet,Vijayawada', 'N A D,Vizag', 'Gajuwaka,Vizag',
       'Jagadamba Junction,Vizag', 'MVP Colony,Vizag',
       'Dwarka Nagar,Vizag'], dtype=object)

In [89]:
data_1[data_1['city'].str.count(',') == 2]

,id,city,rating,rating_count,cost,cuisine
17917,515500,"Sanjay Nagar, New BEL Road,Bangalore",2.1,75,300,"Biryani,Chinese"
17918,111118,"Sanjay Nagar, New BEL Road,Bangalore",3.8,250,300,South Indian
17919,376689,"Sanjay Nagar, New BEL Road,Bangalore",3.6,35,250,"North Indian,Chinese"
17920,480671,"Sanjay Nagar, New BEL Road,Bangalore",4.0,10,150,"Desserts,Beverages"
17921,435743,"Sanjay Nagar, New BEL Road,Bangalore",4.2,250,400,Pizzas
...,...,...,...,...,...,...
78726,471988,"Tarnaka, Nacharam & Malkajigiri,Hyderabad",4.0,10,150,Chinese
78727,424315,"Tarnaka, Nacharam & Malkajigiri,Hyderabad",4.0,10,150,"Lebanese,Snacks"
78728,423468,"Tarnaka, Nacharam & Malkajigiri,Hyderabad",4.0,10,200,Chinese
78729,529544,"Tarnaka, Nacharam & Malkajigiri,Hyderabad",4.0,10,299,"Indian,Snacks"
78730,471981,"Tarnaka, Nacharam & Malkajigiri,Hyderabad",4.0,10,100,Juices

In [90]:
sub_city = data_1[data_1['city'].str.count(',') == 2]

In [91]:
sub_city['city'].unique()

array(['Sanjay Nagar, New BEL Road,Bangalore',
       'Tarnaka, Nacharam & Malkajigiri,Hyderabad'], dtype=object)

In [92]:
sub_city['city']

17917         Sanjay Nagar, New BEL Road,Bangalore
17918         Sanjay Nagar, New BEL Road,Bangalore
17919         Sanjay Nagar, New BEL Road,Bangalore
17920         Sanjay Nagar, New BEL Road,Bangalore
17921         Sanjay Nagar, New BEL Road,Bangalore
                           ...
78726    Tarnaka, Nacharam & Malkajigiri,Hyderabad
78727    Tarnaka, Nacharam & Malkajigiri,Hyderabad
78728    Tarnaka, Nacharam & Malkajigiri,Hyderabad
78729    Tarnaka, Nacharam & Malkajigiri,Hyderabad
78730    Tarnaka, Nacharam & Malkajigiri,Hyderabad
Name: city, Length: 927, dtype: object

In [93]:
data_1[data_1['city'] == 'Yavatmal']

,id,city,rating,rating_count,cost,cuisine
148376,141318,Yavatmal,3.8,250,200,"North Indian,Fast Food"
148377,193866,Yavatmal,4.0,75,200,"North Indian,Maharashtrian"
148378,234395,Yavatmal,3.5,75,100,"American,Chinese"
148379,513588,Yavatmal,4.0,10,200,Chinese
148380,141314,Yavatmal,3.8,75,200,North Indian
...,...,...,...,...,...,...
148437,553122,Yavatmal,4.0,10,200,"Fast Food,Snacks"
148438,562647,Yavatmal,4.0,10,300,Pizzas
148439,559435,Yavatmal,4.0,10,300,"Fast Food,Snacks"
148440,418989,Yavatmal,4.0,10,250,Continental
148441,447770,Yavatmal,4.0,10,200,Pizzas

In [94]:
# create a function for city , main_city
def split_city_data(row):
    parts = [p.strip() for p in row.split(',') if p.strip()]  # remove extra spaces and empty parts
    
    if len(parts) == 1:
        return [parts[0], '0']  # like "Abohar"
    else:
        city = ', '.join(parts[:-1])  # join all parts except last
        main_city = parts[-1]         # last part is main city
        return [city, main_city]

In [95]:
data_1[['city', 'main_city']] = data_1['city'].apply(split_city_data).apply(pd.Series)

In [99]:
data_1.head()

,id,city,rating,rating_count,cost,cuisine,main_city
0,567335,Abohar,4.0,10,200,"Beverages,Pizzas",0
1,531342,Abohar,4.4,75,200,"Sweets,Bakery",0
2,158203,Abohar,3.8,250,100,Beverages,0
3,187912,Abohar,3.7,35,250,"Fast Food,Indian",0
4,543530,Abohar,4.0,10,250,"Italian-American,Fast Food",0

In [100]:
data_1[data_1['cuisine'].str.count(',')==1]

,id,city,rating,rating_count,cost,cuisine,main_city
0,567335,Abohar,4.0,10,200,"Beverages,Pizzas",0
1,531342,Abohar,4.4,75,200,"Sweets,Bakery",0
3,187912,Abohar,3.7,35,250,"Fast Food,Indian",0
4,543530,Abohar,4.0,10,250,"Italian-American,Fast Food",0
8,156602,Abohar,4.2,35,100,"Snacks,Chaat",0
...,...,...,...,...,...,...,...
148433,529034,Yavatmal,4.0,10,300,"Snacks,Biryani",0
148435,561381,Yavatmal,4.0,10,100,"Chinese,Fast Food",0
148436,214210,Yavatmal,4.0,10,300,"Biryani,Maharashtrian",0
148437,553122,Yavatmal,4.0,10,200,"Fast Food,Snacks",0
148439,559435,Yavatmal,4.0,10,300,"Fast Food,Snacks",0

In [101]:
data_1[data_1['cuisine'].str.count(',')==0]

            id      city  rating  rating_count  cost       cuisine main_city
2       158203    Abohar     3.8           250   100     Beverages         0
5       158204    Abohar     3.6            35   200   Continental         0
6       156588    Abohar     4.0           250   150  North Indian         0
7       244866    Abohar     4.0            10   100  North Indian         0
9       158193    Abohar     4.0            10   200        Indian         0
...        ...       ...     ...           ...   ...           ...       ...
148431  257017  Yavatmal     4.0            10   200  North Indian         0
148434  185296  Yavatmal     4.0            10   250  North Indian         0
148438  562647  Yavatmal     4.0            10   300        Pizzas         0
148440  418989  Yavatmal     4.0            10   250   Continental         0
148441  447770  Yavatmal     4.0            10   200        Pizzas         0

[40372 rows x 7 columns]

In [102]:
def split_cuisine_data(row):
    parts = row.split(',')
    if len(parts) == 1: #like Beverages
        return [parts[0], '0']
    elif len(parts) == 2:
        return[parts[0], parts[1]]

In [103]:
data_1[['cuisine_1', 'cuisine_2']] = data_1['cuisine'].apply(split_cuisine_data).apply(pd.Series)

In [104]:
data_1 = data_1.drop(columns=('cuisine'))

In [105]:
data_1.head()

,id,city,rating,rating_count,cost,main_city,cuisine_1,cuisine_2
0,567335,Abohar,4.0,10,200,0,Beverages,Pizzas
1,531342,Abohar,4.4,75,200,0,Sweets,Bakery
2,158203,Abohar,3.8,250,100,0,Beverages,0
3,187912,Abohar,3.7,35,250,0,Fast Food,Indian
4,543530,Abohar,4.0,10,250,0,Italian-American,Fast Food

In [106]:
data_1['cuisine_1'].unique()

array(['Beverages', 'Sweets', 'Fast Food', 'Italian-American',
       'Continental', 'North Indian', 'Snacks', 'Indian', 'Juices',
       'Tandoor', 'Punjabi', 'Mughlai', 'Pizzas', 'Chinese', 'Ice Cream',
       'Chaat', 'Bakery', 'American', 'European', 'Biryani',
       'South Indian', 'Desserts', 'Street Food', 'Nepalese', 'Paan',
       'Healthy Food', 'Bengali', 'Thalis', 'Waffle', 'Arabian', 'Combo',
       'Tibetan', 'Burgers', 'Bihari', 'Italian', 'Salads', 'Kebabs',
       'Asian', 'Thai', 'North Eastern', 'Cafe', 'Pan-Asian', 'Lebanese',
       'Maharashtrian', 'Mexican', 'Pastas', 'Rajasthani', 'Gujarati',
       'Seafood', 'Japanese', 'Sushi', 'Middle Eastern', 'French',
       'Hyderabadi', 'Grill', 'SVANidhi Street Food Vendor', 'Afghani',
       'Oriental', 'Home Food', 'Barbecue', 'Korean', 'Kerala', 'Andhra',
       'British', 'Oriya', 'Portuguese', 'Lucknowi', 'Mangalorean',
       'Chettinad', 'Mediterranean', 'Naga', 'Turkish', 'Assamese',
       'Steakhouse', 'Coastal', 'Tex-Mex', 'Vietnamese', 'Awadhi',
       'Spanish', 'Ice Cream Cakes', 'Kashmiri', 'German', 'Singaporean',
       'Burmese', 'Jain', 'Persian', 'Indonesian', 'Parsi', 'Goan',
       'African', 'Popular Brand Store', 'Bangladeshi', 'Greek', 'Sindhi',
       'Default', '8:15 To 11:30 Pm', 'Malaysian', 'Bakery products',
       'South American', 'Keto', 'Free Delivery ! Limited Stocks!',
       'Haleem', 'Malwani', 'Telangana', 'Bhutanese', 'Rayalaseema',
       'Tribal', 'Konkan', 'Sri Lankan',
       'Discount offer from Garden Cafe Express Kankurgachi',
       'Special Discount from (Hotel Swagath)', 'Tandoor ', 'Khasi',
       'Grocery products'], dtype=object)

In [107]:
data_1['cuisine_2'].unique()

array(['Pizzas', 'Bakery', '0', 'Indian', 'Fast Food', 'Chaat',
       'Beverages', 'Desserts', 'Chinese', 'North Indian', 'Tandoor',
       'American', 'Thalis', 'Snacks', 'South Indian', 'Italian',
       'Street Food', 'Kebabs', 'Biryani', 'Salads', 'Pastas',
       'Continental', 'Bengali', 'Burgers', 'Ice Cream', 'Tibetan',
       'Thai', 'Hyderabadi', 'Sweets', 'Lebanese', 'Nepalese', 'Mughlai',
       'Lucknowi', 'Healthy Food', 'Afghani', 'Asian', 'Combo', 'Seafood',
       'Waffle', 'Italian-American', 'Punjabi', 'Arabian', 'Barbecue',
       'Mexican', 'Ice Cream Cakes', 'Gujarati', 'Juices', 'Jain',
       'Pan-Asian', 'Rajasthani', 'Mediterranean', 'Burmese', 'Oriental',
       'Maharashtrian', 'Kerala', 'Home Food', 'Indonesian',
       'Middle Eastern', 'Grill', 'Japanese', 'Paan',
       'Biryani - Shivaji Military Hotel', 'Greek', 'Cafe',
       'Use Code JUMBO30 to avail', 'Chettinad', 'Coastal', 'Andhra',
       'Turkish', 'African', 'Tex-Mex', 'Oriya', 'British', 'Mangalorean',
       'Bihari', 'Keto', 'European', 'Malaysian', 'North Eastern',
       'Steakhouse', 'Kashmiri', 'French', 'Naga', 'Singaporean',
       'Vietnamese', 'Attractive Combos Available', 'Haleem', 'Konkan',
       'Bangladeshi', 'German', 'Sushi', 'Goan', 'Malwani', 'Spanish',
       'Awadhi', 'Korean', 'Portuguese', 'Assamese',
       'Code valid on bill over Rs.99', 'MAX 2 Combos per Order!',
       'Australian', 'Sindhi', 'Navratri Special', 'BEVERAGE', 'Tribal',
       'Parsi', 'South American', 'Telangana', 'Rayalaseema', 'Mongolian',
       'Bhutanese', 'Meat', 'Tandoor ', 'Use code XPRESS121 to avail.',
       'Sri Lankan', 'Bowl Company', 'indian', 'Popular Brand Store'],
      dtype=object)

In [108]:
data_1['cuisine_1'].isnull().sum()

np.int64(0)

In [109]:
data_1['cuisine_2'].isnull().sum()

np.int64(0)

In [110]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148442 entries, 0 to 148441
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148442 non-null  int64
 1   city          148442 non-null  object
 2   rating        148442 non-null  float64
 3   rating_count  148442 non-null  int64
 4   cost          148442 non-null  int64
 5   main_city     148442 non-null  object
 6   cuisine_1     148442 non-null  object
 7   cuisine_2     148442 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 9.1+ MB

In [111]:
data_1

,id,city,rating,rating_count,cost,main_city,cuisine_1,cuisine_2
0,567335,Abohar,4.0,10,200,0,Beverages,Pizzas
1,531342,Abohar,4.4,75,200,0,Sweets,Bakery
2,158203,Abohar,3.8,250,100,0,Beverages,0
3,187912,Abohar,3.7,35,250,0,Fast Food,Indian
4,543530,Abohar,4.0,10,250,0,Italian-American,Fast Food
...,...,...,...,...,...,...,...,...
148437,553122,Yavatmal,4.0,10,200,0,Fast Food,Snacks
148438,562647,Yavatmal,4.0,10,300,0,Pizzas,0
148439,559435,Yavatmal,4.0,10,300,0,Fast Food,Snacks
148440,418989,Yavatmal,4.0,10,250,0,Continental,0
148441,447770,Yavatmal,4.0,10,200,0,Pizzas,0

In [124]:
data_1.iloc[[71600, 345, 68, 23464,2345,987,7654,45435]]#sample

,id,city,rating,rating_count,cost,main_city,cuisine_1,cuisine_2
71600,410464,Himayath Nagar,4.0,10,350,Hyderabad,Combo,0
345,530618,Adityapur,4.6,75,100,0,Bengali,Sweets
68,500628,Adilabad,4.0,10,250,0,Chinese,Snacks
23464,393107,Central Bangalore,4.2,750,270,Bangalore,Healthy Food,Pizzas
2345,209885,Ghatlodia,4.0,250,200,Ahmedabad,Gujarati,Punjabi
987,469550,Agra,4.0,10,250,0,Beverages,0
7654,469208,Aurangabad,4.1,35,200,0,North Indian,Punjabi
45435,443900,Sai Baba Colony,4.0,10,300,Coimbatore,Biryani,South Indian

#### Data Preprocessing

In [125]:
# perform one hot encoding

#initialize
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

#select categorical columns
categorical_data = data_1[['city','main_city', 'cuisine_1', 'cuisine_2']]
categorical_data = categorical_data.astype(str) #convert to str

#fit and transform data
encoder_array = encoder.fit_transform(categorical_data)

#convert encoder_array to dataframe
encoder_df = pd.DataFrame(encoder_array, columns=encoder.get_feature_names_out(['city','main_city', 'cuisine_1', 'cuisine_2']))
print(encoder_df)

        city_Abids & Koti  city_Abohar  city_Adajan  city_Adilabad  \
0                     0.0          1.0          0.0            0.0
1                     0.0          1.0          0.0            0.0
2                     0.0          1.0          0.0            0.0
3                     0.0          1.0          0.0            0.0
4                     0.0          1.0          0.0            0.0
...                   ...          ...          ...            ...
148437                0.0          0.0          0.0            0.0
148438                0.0          0.0          0.0            0.0
148439                0.0          0.0          0.0            0.0
148440                0.0          0.0          0.0            0.0
148441                0.0          0.0          0.0            0.0

        city_Adityapur  city_Adoni  city_Adyar  city_Agartala  city_Agra  \
0                  0.0         0.0         0.0            0.0        0.0
1                  0.0         0.0         0.0            0.0        0.0
2                  0.0         0.0         0.0            0.0        0.0
3                  0.0         0.0         0.0            0.0        0.0
4                  0.0         0.0         0.0            0.0        0.0
...                ...         ...         ...            ...        ...
148437             0.0         0.0         0.0            0.0        0.0
148438             0.0         0.0         0.0            0.0        0.0
148439             0.0         0.0         0.0            0.0        0.0
148440             0.0         0.0         0.0            0.0        0.0
148441             0.0         0.0         0.0            0.0        0.0

        city_Ahmednagar  ...  cuisine_2_Thai  cuisine_2_Thalis  \
0                   0.0  ...             0.0               0.0
1                   0.0  ...             0.0               0.0
2                   0.0  ...             0.0               0.0
3                   0.0  ...             0.0               0.0
4                   0.0  ...             0.0               0.0
...                 ...  ...             ...               ...
148437              0.0  ...             0.0               0.0
148438              0.0  ...             0.0               0.0
148439              0.0  ...             0.0               0.0
148440              0.0  ...             0.0               0.0
148441              0.0  ...             0.0               0.0

        cuisine_2_Tibetan  cuisine_2_Tribal  cuisine_2_Turkish  \
0                     0.0               0.0                0.0
1                     0.0               0.0                0.0
2                     0.0               0.0                0.0
3                     0.0               0.0                0.0
4                     0.0               0.0                0.0
...                   ...               ...                ...
148437                0.0               0.0                0.0
148438                0.0               0.0                0.0
148439                0.0               0.0                0.0
148440                0.0               0.0                0.0
148441                0.0               0.0                0.0

        cuisine_2_Use Code JUMBO30 to avail  \
0                                       0.0
1                                       0.0
2                                       0.0
3                                       0.0
4                                       0.0
...                                     ...
148437                                  0.0
148438                                  0.0
148439                                  0.0
148440                                  0.0
148441                                  0.0

        cuisine_2_Use code XPRESS121 to avail.  cuisine_2_Vietnamese  \
0                                          0.0                   0.0
1                                          0.0                   0.0
2                                          0.0                   0.0
3                                          0.0                   0.0
4                                          0.0                   0.0
...                                        ...                   ...
148437                                     0.0                   0.0
148438                                     0.0                   0.0
148439                                     0.0                   0.0
148440                                     0.0                   0.0
148441                                     0.0                   0.0

        cuisine_2_Waffle  cuisine_2_indian
0                    0.0               0.0
1                    0.0               0.0
2                    0.0               0.0
3                    0.0               0.0
4                    0.0               0.0
...                  ...               ...
148437               0.0               0.0
148438               0.0               0.0
148439               0.0               0.0
148440               0.0               0.0
148441               0.0               0.0

[148442 rows x 1078 columns]

In [126]:
encoder_df.dtypes

city_Abids & Koti                         float64
city_Abohar                               float64
city_Adajan                               float64
city_Adilabad                             float64
city_Adityapur                            float64
                                           ...
cuisine_2_Use Code JUMBO30 to avail       float64
cuisine_2_Use code XPRESS121 to avail.    float64
cuisine_2_Vietnamese                      float64
cuisine_2_Waffle                          float64
cuisine_2_indian                          float64
Length: 1078, dtype: object

In [128]:
final_encoded_data = pd.concat([data_1[['id', 'rating', 'cost', 'rating_count']], encoder_df], axis= 1)

In [129]:
# #save the encoded_data as a pickle file
with open('final_data.pkl', 'wb') as file:
    pickle.dump(final_encoded_data, file)

In [130]:
# scaled numerical_features
numerical_features = final_encoded_data[['rating', 'cost', 'rating_count']]

In [131]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(numerical_features)

In [132]:
scaled_data

array([[ 0.14534067, -0.10995974, -0.27056619],
       [ 1.4764935 , -0.10995974, -0.11952945],
       [-0.52023575, -0.23548656,  0.2871079 ],
       ...,
       [ 0.14534067,  0.01556708, -0.27056619],
       [ 0.14534067, -0.04719633, -0.27056619],
       [ 0.14534067, -0.10995974, -0.27056619]], shape=(148442, 3))

In [133]:
# replace the noramalized numerical values to the original value
final_encoded_data[['rating', 'cost', 'rating_count']] = scaled_data

In [134]:
# Save the scaler
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

In [135]:
final_encoded_data

,id,rating,cost,rating_count,city_Abids & Koti,city_Abohar,city_Adajan,city_Adilabad,city_Adityapur,city_Adoni,...,cuisine_2_Thai,cuisine_2_Thalis,cuisine_2_Tibetan,cuisine_2_Tribal,cuisine_2_Turkish,cuisine_2_Use Code JUMBO30 to avail,cuisine_2_Use code XPRESS121 to avail.,cuisine_2_Vietnamese,cuisine_2_Waffle,cuisine_2_indian
0,567335,0.145341,-0.109960,-0.270566,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,531342,1.476494,-0.109960,-0.119529,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,158203,-0.520236,-0.235487,0.287108,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,187912,-0.853024,-0.047196,-0.212475,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,543530,0.145341,-0.047196,-0.270566,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148437,553122,0.145341,-0.109960,-0.270566,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148438,562647,0.145341,0.015567,-0.270566,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148439,559435,0.145341,0.015567,-0.270566,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148440,418989,0.145341,-0.047196,-0.270566,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148441,447770,0.145341,-0.109960,-0.270566,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
final_encoded_data.to_csv('encoded_data.csv', index= False)

In [137]:
final_encoded_data = pd.read_csv('encoded_data.csv')

In [138]:
cleaned_data = pd.read_csv('cleaned_data.csv')

In [139]:
# # ensure the indiced match
list(cleaned_data.index ) == list(final_encoded_data.index)

True

In [140]:
print(final_encoded_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148442 entries, 0 to 148441
Columns: 1082 entries, id to cuisine_2_indian
dtypes: float64(1081), int64(1)
memory usage: 1.2 GB
None

In [141]:
final_encoded_data.dtypes

id                                          int64
rating                                    float64
cost                                      float64
rating_count                              float64
city_Abids & Koti                         float64
                                           ...
cuisine_2_Use Code JUMBO30 to avail       float64
cuisine_2_Use code XPRESS121 to avail.    float64
cuisine_2_Vietnamese                      float64
cuisine_2_Waffle                          float64
cuisine_2_indian                          float64
Length: 1082, dtype: object